<ngx-tabber [tabs]="tabs"></ngx-tabber>

<nb-card>
  <nb-card-body>
    <div class="acompanhamento-header">
      <h5>Mapas de Cotação</h5>
      <div class="search-bar">
        <input nbInput placeholder="Pesquise por código" />
        <button nbButton ghost>
          <nb-icon icon="search"></nb-icon>
        </button>
      </div>
    </div>
    <ul class="card-list">
      <li *ngFor="let mapa of mapas">
        <nb-card class="item-card">
          <nb-card-body class="item-card-body">
            <p class="title">MC {{ mapa.codigo }}</p>
            <div class="details">
              <p><span>Data:</span> {{ mapa.data }}</p>
              <p><span>Solicitante:</span> {{ mapa.solicitante }}</p>
              <p><span>Loja:</span> {{ mapa.loja }}</p>
            </div>
          </nb-card-body>
        </nb-card>
      </li>
    </ul>
    <div class="acompanhamento-header">
      <h5>Ordens de compra</h5>
      <div class="search-bar">
        <input nbInput placeholder="Pesquise por código" />
        <button nbButton ghost>
          <nb-icon icon="search"></nb-icon>
        </button>
      </div>
    </div>
    <ul class="card-list">
      <li *ngFor="let ordem of ordensDeCompra">
        <nb-card>
          <nb-card-body class="item-card-body">
            <p class="title">OC {{ ordem.codigo }}</p>
            <div class="details">
              <p><span>Data:</span> {{ ordem.data }}</p>
              <p><span>Solicitante:</span> {{ ordem.solicitante }}</p>
              <p><span>Loja:</span> {{ ordem.loja }}</p>
              <p class="total"><span>Total:</span> R${{ ordem.preco.toFixed(2).replace('.', ',') }}</p>
            </div>
          </nb-card-body>
        </nb-card>
      </li>
    </ul>

    <div class="acompanhamento-header">
      <h5>Compras Finalizadas</h5>
      <div class="search-bar">
        <input nbInput placeholder="Pesquise por código" />
        <button nbButton ghost>
          <nb-icon icon="search"></nb-icon>
        </button>
      </div>
    </div>
    <ul class="card-list">
        <nb-card>
          <nb-card-body class="item-card-body">

          </nb-card-body>
        </nb-card>
    </ul>
  </nb-card-body>
</nb-card>