<div class="wrapper">
  <div class="left">
    <nb-menu [items]="smartGroup"></nb-menu>
    
    <h5 class="category-title">Departamentos</h5>
    <ngx-tree [items]="treeItems" (itemSelected)="onItemSelected($event)"></ngx-tree>
  </div>
  <div class="right">
    <div class="actions"> 
      <button nbButton (click)="open(dialog)"><nb-icon icon="plus-outline"></nb-icon> Adicionar produto</button>
    </div>
    <div class="filters">
      <nb-select style="min-width: 200px" selected="">
        <nb-option value="">Todos</nb-option>
        <nb-option value="0">Categoria 1</nb-option>
        <nb-option value="1">Categoria 2</nb-option>
      </nb-select>
      <input nbInput placeholder="Pesquise aqui..." />
    </div>
    <div class="product-list">
      <nb-list>
        <nb-list-item *ngFor="let produto of produtos"> 
          <ngx-produto-lojista   
            [produto]="produto"
          ></ngx-produto-lojista>
        </nb-list-item>
      </nb-list>
      <pagination
        [currentPage]="currentProductsPage"
        [totalItems]="100"
        [itemsPerPage]="10"
      ></pagination>
    </div>
  </div>
</div>


<ng-template #dialog let-data let-ref="dialogRef">
  <ngx-modal-adicionar
    (cancelBtnClick)="ref.close()"
    (requestBtnClick)="btnClickHandler(ref)"
  ></ngx-modal-adicionar>
</ng-template>