.wrapper {
  display: flex;
  min-height: 100%;
}

::ng-deep li.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

ul li.menu-item {
  background-color: rgba(0, 0, 0, 0.04);
}

.left {
  width: 150px;
  border-right: 1px solid #edf1f7;
  padding: 10px;
  width: 250px;
  box-sizing: content-box;
}

.right {
  width: 100%;
  position: relative;
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
}

.actions {
  border-bottom: 1px solid #edf1f7;
  padding: 0.75rem 1rem;
}

.product-list {
  overflow-y: scroll;
  padding-bottom: 4rem;
}

.product-list ::ng-deep nb-list-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.product-list ::ng-deep pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 100%;
}

.category-title {
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.dialog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .criar-link {
    text-decoration: none;
    margin-left: 10px;
  }
}

.dialog.product-list {
  width: 80vw;
}

.no-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.department-tree ::ng-deep ul {
  max-height: 40vh;
}

.loading-container {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}