<div class="wrapper">
  <div class="left">
    <nb-menu [items]="smartGroup"></nb-menu>
    
    <h5 class="category-title">Departamentos</h5>
    <ngx-tree 
      [items]="departmentTree" 
      (itemSelected)="onItemSelected($event)"
      class="department-tree"
    ></ngx-tree>
  </div>
  <div class="right">
    <div class="actions"> 
      <button nbButton (click)="open(dialog)"><nb-icon icon="plus-outline"></nb-icon> Adicionar produto</button>
    </div>
    <div class="filters">
      <nb-select style="min-width: 200px" selected="">
        <nb-option value=""><i>Orderne por</i></nb-option>
        <nb-option value="0">Mais vendidos</nb-option>
        <nb-option value="1">Ordem Alfabética</nb-option>
      </nb-select>
      <input nbInput placeholder="Pesquise aqui..." />
    </div>
    <div *ngIf="loading; else notLoading" class="loading-container">
      <app-spring-spinner
        [animationDuration]="1000"
        [size]="60"
        [color]="'#ff1d5e'"
      ></app-spring-spinner>
    </div>
    <ng-template #notLoading>
      <div class="product-list" style="height: 325px">
        <nb-list *ngIf="products.length > 0; else noProducts">
          <nb-list-item *ngFor="let product of products"> 
            <ngx-produto-lojista   
              [produto]="product"
            ></ngx-produto-lojista>
          </nb-list-item>
        </nb-list>
        <ng-template #noProducts>
          <div class="no-items">
            <p style="font-size: 2rem; font-weight: bold;">Sem itens</p>
            <button nbButton status="primary" (click)="requestProductBtnClick.emit()">
              <nb-icon icon="plus"></nb-icon>
              Adicionar novos produtos
            </button>
          </div>
        </ng-template>
        <pagination
          [currentPage]="pagination.currentPage"
          [totalItems]="pagination.totalItems"
          [itemsPerPage]="pagination.itemsPerPage"
          (pageChange)="onPageChange($event)"
        ></pagination>
      </div>
  </ng-template>
  </div>
</div>


<ng-template #dialog let-data let-ref="dialogRef">
  <ngx-modal-adicionar
    [ref]="ref"
    [departments]="departments"
    (requestProductBtnClick)="btnClickHandler(ref)"
    (submitClick)="onSubmitHandler($event)"
  ></ngx-modal-adicionar>
</ng-template>