<nb-layout windowMode>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <a routerLink="/">
          <button nbButton ghost>
            <nb-icon status="primary" icon="arrow-back"></nb-icon>
          </button>
        </a>
      </nb-card-header>
      <nb-card-body style="padding: 0">
        <div class="wrapper">
          <div class="register-page">
            <h1>Registrar-se</h1>
            <p>Olá! Me dê suas credenciais para entrar na nossa plataforma</p>
            <form>
              <div class="row">
                <div class="col-6">
                  <label>Razão Social</label>
                  <input nbInput fullWidth />
                </div>
                <div class="col-6">
                  <label>CNPJ</label>
                  <input nbInput fullWidth />
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label>RG</label>
                  <input nbInput fullWidth />
                </div>
      
                <div class="col-4">
                  <label>Inscrição Estadual</label>
                  <input nbInput fullWidth />
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label>E-mail</label>
                  <input nbInput fullWidth type="email" />
                </div>
                <div class="col-4">
                  <label>Senha</label>
                  <input nbInput fullWidth type="password" />
                </div>
                <div class="col-4">
                  <label>Confirmar Senha</label>
                  <input nbInput fullWidth type="password" />
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label>Logradouro</label>
                  <input nbInput fullWidth />
                </div>
                <div class="col-3">
                  <label>Celular</label>
                  <input nbInput fullWidth />
                </div>
                <div class="col-3">
                  <label>Telefone</label>
                  <input nbInput fullWidth />
                </div>
              </div>
              <button nbButton status="primary" type="submit">
                Registrar
              </button>
            </form>
          </div>
          <div class="illustration"></div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
