@mixin customScroll {
  &::-webkit-scrollbar {
    width: 0.3125rem;
    height: 0.3125rem;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #e4e9f2;
    cursor: pointer;
    border-radius: 0.15625rem;
  }
  
  &::-webkit-scrollbar-track {
    background: #f7f9fc;
  }
}