$borderColor: #edf1f7;

.settings-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 3rem;
}

.card-group {
  border-bottom: 1px solid $borderColor;
  flex-direction: column;

  h2 {
    font-size: 0.8rem;
  }
}

// .card-group:nth-of-type(2n+1) {
//   border-right: 1px solid $borderColor;
// }

.card-group-header {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-bottom: 8px;
  
  .icon {
    color: #8f9bb3;
    margin-right: 2px;
  }
}



.enderecos-table {
  width: 100%;
  margin-bottom: 5px;

  col {
    width: max-content;
  }

  col.full {
    width: 100%;
  }

  th {
    font-size: 0.8rem;
    white-space: nowrap;
  }

  th, td {
    padding: 0.6rem;
  }

  th:first-child, td:first-child {
    padding-left: 0;
  }

  th:last-child, td:last-child {
    padding-right: 0;
  }
}

.caixas-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;

  li.caixa {
    display: flex;
    border-radius: 5px;
    border: 1px solid $borderColor;
    padding: 0.7rem 0.8rem;
    margin-right: 10px;
    cursor: default;
    position: relative;
    
    &:hover {
      background: darken(white, 2%);
    }
  }

  li.caixa p {
    margin: 0;
  }

  li.caixa p:not(:last-child) {
    margin-right: 10px;
  }

  li.caixa span {
    display: block;
    font-size: 0.7rem;
    font-weight: 600;
    color: #8f9bb3;
  }
}

.configuracoes-card-footer {
  display: flex;
  justify-content: space-between;
}