<nb-card>
  <nb-card-header>Configurações</nb-card-header>
  <nb-card-body class="settings-card">
    <div class="card-group">
      <h1 class="card-group-header">
        <nb-icon icon="layers-outline" class="icon"></nb-icon>
        Geral
      </h1>
    </div>
    <div class="card-group">
      <h1 class="card-group-header">
        <nb-icon icon="cube-outline" class="icon"></nb-icon>
        Vendas
      </h1>
    </div>
    <div class="card-group">
      <h1 class="card-group-header">
        <nb-icon icon="shopping-cart-outline" class="icon"></nb-icon>
        Financeiro
      </h1>
    </div>
    <div class="card-group">
      <h1 class="card-group-header">
        <nb-icon icon="people-outline" class="icon"></nb-icon>
        Colaboradores
      </h1>
    </div>
  </nb-card-body>
</nb-card>
