$menorProdutoCor: #aaf683;
$menorFornecedorCor: #dec9e9;
$tableHeadBorderRadius: 0.6rem;
$borderColor: #edf1f7;

table {
  width: 100%;
  max-height: 100vh;
  border-collapse: collapse;
}

th {
  padding: 1rem;
  background: $borderColor;
  text-align: center;
  font-weight: 600;
}

th.fornecedores, td.fornecedores {
  display: flex;
  justify-content: space-around;
}

td {
  text-align: center;
  padding: .6rem 0;
}

.dynamic {
  width: fit-content;
}


th.menor, td.menor {
  background: $menorProdutoCor;
}

.table-wrapper {
  position: relative;
  width: 100%;
  overflow-x: scroll;
}

.fornecedores-col {
  width: 10px;
  overflow-x: scroll;
}

.fixed-col {
  position: absolute;
  top: auto;
  left: auto;
  width: 100%;
}

td.preco {
  width: fit-content;
}

.resizable {
  width: fit-content;
}

th {
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.produtos-col {
  width: 100%;
}

thead tr:first-child th {
  background: transparent;
  border: none;
  padding-bottom: 5px;
  font-size: 0.8rem;
  color: #8F9BB3
}

.menor-fornecedor {
  background: $menorFornecedorCor;
}

fieldset {
  margin: 1rem 0;
}

fieldset legend {
  font-size: 0.8rem;
  margin-bottom: 0px;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
  }

  &.green::before { background: $menorProdutoCor; }
  &.purple::before { background: $menorFornecedorCor; }
}

tbody tr {
  cursor: pointer;

  &:hover {
    color: darken(#222b45, 60%);
  }
}

.dialog-body {
  width: 80vw;

  p {
    font-weight: 600;
    text-transform: uppercase;
    color: #8f9bb3;
  }

  span { 
    font-weight: 500;
    text-transform: none;
    color: #222b45;
  }

  img {
    width: 150px;
    height: auto;
  }

  .bottom {
    width: 100%;
    margin-top: 1rem;

    p:first-child {
      margin-bottom: 5px;
    }

    ul, li {
      width: 100%;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0.8rem;
      border-bottom: 1px solid $borderColor;
      border-radius: 7px;

      span:last-child {
        font-weight: 600;
      }
    }

    li.menor {
      background-color: $borderColor;
      span:last-child { 
        color: darken($menorProdutoCor, 40%);
        
        &:before {
          content: 'Menor Preço';
          text-transform: uppercase;
          color: gray;
          margin-right: 1rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}

.dialog-body .top {
  display: flex;
  align-items: center;

  .info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-left: 1rem;
  }

  .info p {
    margin-bottom: 0;
  }
}


th.fornecedor {
  position: relative;

  .info {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0.9rem;
    height: auto;
    cursor: pointer;
    color: #8F9BB3;

    &:hover {
      opacity: 0.7;
    }
  }
}

td.last-prices {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 600;

  &.aumentado { color: red; }
  &.diminuido { color: green; }
}

thead tr:nth-child(2) th:first-child{
  border-top-left-radius: $tableHeadBorderRadius;
}

thead tr:nth-child(2) th:last-child{
  border-top-right-radius: $tableHeadBorderRadius;
}

thead tr:last-child th:first-child{
  border-bottom-left-radius: $tableHeadBorderRadius;
}

thead tr:last-child th:last-child{
  border-bottom-right-radius: $tableHeadBorderRadius;
}



tbody tr {
  border-bottom: 1px solid $borderColor;
}