<ngx-tabber [tabs]="tabs"></ngx-tabber>

<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label>Loja</label>
          <nb-select fullWidth disabled selected="1">
            <nb-option value="1">Minha Loja (Matriz)</nb-option>
            <nb-option-group title="Filiais">
              <nb-option value="2">Filial #1</nb-option>
              <nb-option value="3">Filial #2</nb-option>
              <nb-option value="4">Filial #3</nb-option>
            </nb-option-group>
          </nb-select>
        </div>
      </div>
    </div>
    <div class="mapa-table-info">
      <fieldset>
        <legend class="purple">Menor preço total</legend>
        <legend class="green">Menor preço do produto</legend>
      </fieldset>
      <div class="easy-buttons-wrapper">
        <small>Botões Rápidos</small>
        <nb-radio-group
          class="easy-buttons"
          [value]="easyButtonsValue" 
          (valueChange)="onEasyButtonsChange($event)"
        >
          <nb-radio value="unitario" [disabled]="!isThereAnyPrice">Menor preço unitário</nb-radio>
          <nb-radio value="global" [disabled]="!isThereAnyPrice">Menor global</nb-radio>
        </nb-radio-group>
      </div>
      <p class="mapa">Nº de Controle: <span>{{ controle }}</span></p>
    </div>
    <table *ngIf="pedido">
      <colgroup>
        <col />
        <col class="full" />
        <col />
        <col />
        <col *ngFor="let _ of pedido.fornecedores" />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th colspan="4">Pedido (RFQ)</th>
          <th
            *ngIf="pedido.fornecedores.length > 0" 
            [attr.colspan]="pedido.fornecedores.length" 
            class="bordered"
          >Fornecedores</th>
          <th></th>
        </tr>
        <tr>
          <th>Código</th>
          <th>Produtos</th>
          <th>Un.</th>
          <th>Qtd.</th>
          <th
            *ngFor="let fornecedor of pedido.fornecedores; let i = index"
            [class]="{
              fornecedor: true,
              bordered: true,
              'menor-fornecedor': i === menorSomaIdx,
              'global-selected': isGloballySelected(i)
            }"
          >
            <nb-icon 
              class="info" 
              icon="info-outline" 
              (click)="openDetalhesFornecedor(dialog, fornecedor)"
            ></nb-icon>
            {{ 'F' + (i + 1) }}
          </th>
          <th>Últimas compras</th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th 
            *ngFor="let fornecedor of pedido.fornecedores"
            [class]="{ 
              bordered: true,
              'summed-price': true, 
              'menor-fornecedor': fornecedorMaisBarato === fornecedor.id
            }"
            (click)="!!getSomaFornecedor(fornecedor.id) && selectSupplier(fornecedor.id)"
          >
            Σ <br/> {{ getSomaFornecedor(fornecedor.id).toFixed(2).replace('.', ',') }}
          </th>
          <!-- <th
            *ngFor="let somaFornecedor of somaFornecedores; let i = index"
            
            (click)="selectSupplier(i)"
            (mouseover)="hoveredFornecedorIdx = i"
            (mouseout)="hoveredFornecedorIdx = undefined"
          >
            {{ somaFornecedor ? "Σ " + somaFornecedor.toFixed(2) : "--" }}
          </th> -->
          <th></th>
        </tr>
      </thead>
      <tbody [formGroup]="cotacoesForm">
        <tr
          *ngFor="let detalhe of pedido.detalhesPedidos; let i = index"
          [class]="{ 'product-selected': isProductSelected(i) }"
        >
          <td>{{ detalhe.produto.cnp || "--" }}</td>
          <!-- (click)="openRowDetails(dialog, detalhe)" -->
          <td 
            class="clickable"
          >
            {{ detalhe.produto.descricao || "--" }}
          </td>
          <td>{{ detalhe.produto.unidadeMedidaProduto.sigla || "--" }}</td>
          <td>{{ detalhe.quantidade }}</td>
            <td
              *ngFor="let fornecedor of pedido.fornecedores; let j = index"
              [class]="{
                preco: true,
                selecionado: !isEditingPrices && isSupplierSelected(detalhe.produto.id, fornecedor.id),
                clickable: !isEditingPrices && !!getPreco(detalhe.produto.id, fornecedor.id),
                menor: !isEditingPrices && isProdutoMenorPreco(detalhe.produto.id, fornecedor.id),
                'menor-fornecedor': !isEditingPrices && fornecedorMaisBarato === fornecedor.id,
                hovered: !isEditingPrices && j === hoveredFornecedorIdx
              }"
              (click)="!isEditingPrices && !!getPreco(detalhe.produto.id, fornecedor.id) && selectPrice(detalhe.produto.id, fornecedor.id)"
            >
              <input 
                nbInput
                fieldSize="small" 
                *ngIf="isEditingPrices; else notEditingPrices"
                style="width: 6rem;"
                type="number"
                min="0"
                [formControlName]="'cotacao-p' + detalhe.produto.id + '-f' + fornecedor.id"
                (keydown)="handlePriceInput($event)"
              />
              <ng-template #notEditingPrices>
                <span>
                  {{ getPreco(detalhe.produto.id, fornecedor.id)?.toFixed(2).replace('.', ',') || '--' }}
                </span>
              </ng-template>
            </td>
            
          
          
          <td [class]="[
            'last-prices', 
            detalhe.precos && detalhe.precos.length > 0 ? 
              getPriceStatus(detalhe.precos[detalhe.menorPrecoIdx].valor, detalhe.precoUltimasCompras)
              : ''
          ]">
            {{ detalhe.precoUltimasCompras || "..." }}
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer class="mapa-card-footer">
    <button 
      nbButton 
      (click)="onEditHandler()"
      [status]="isEditingPrices ? 'primary' : 'warning'"
    >
      <nb-icon [icon]="isEditingPrices ? 'save-outline' : 'edit-2-outline'"></nb-icon>
      {{ isEditingPrices ? 'Salvar': 'Editar preços' }} 
    </button>
    <div></div>
    <div>
      <button nbButton status="danger" (click)="openCloseMap(dialog)">Encerrar Mapa</button>
      <button nbButton status="primary" style="margin-left: 1rem;" [attr.disabled]="true">
        Gerar OC
      </button>
    </div>
  </nb-card-footer>
</nb-card>

<ng-template #dialog let-context let-ref="dialogRef">
  <ngx-modal-add-fornecedores
    *ngIf="context.type === 'add-fornecedores'"
  ></ngx-modal-add-fornecedores>
  
  
  <nb-card *ngIf="context.type === 'row-details'">
    <nb-card-header>Detalhes do Produto</nb-card-header>
    <nb-card-body class="dialog-body">
      <div class="top">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.et_nvFdq98rwd5sXDtPUIQHaHa%26pid%3DApi&f=1" 
        />
        <div class="info">
          <p>Código</p>
          <span>{{ context.produto.codigo }}</span>
          <p>
            Nome
          </p>
          <span>{{ context.produto.nome }}</span>
          <p>
            Unidade
          </p>
          <span>{{ context.produto.unidade }}</span>
          <p>
            Quantidade
          </p>
          <span>{{ context.produto.quantidade }}</span>
        </div>
      </div>
      <div class="bottom">
        <p>Preços</p>
        <ul>
          <li 
            *ngFor="let preco of context.produto.precos; let idx = index;" 
            [class]="{ menor: idx === context.produto.menorPrecoIdx }"
          >
            <span>{{ preco.fornecedor }}</span> 
            <span>{{ preco.valor ? 'R$' + preco.valor.toFixed(2) : '--' }}</span>
          </li>
        </ul>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Voltar</button>
    </nb-card-footer>
  </nb-card>

  <nb-card
    class="modal-detalhes-fornecedor" 
    *ngIf="context.type === 'detalhes-fornecedor'"
  >
    <nb-card-header>Detalhes do Fornecedor</nb-card-header>
    <nb-card-body class="detalhes">
      <p>Nome: <span>{{ context.fornecedor.nomeFantasia }}</span></p>
      <p>E-mail: <span>{{ context.fornecedor.email }}</span></p>
      <div class="row">
        <p class="col-2">CEP: <span>{{ context.fornecedor.cep }}</span></p>
        <p class="col-10">Logradouro: <span>{{ context.fornecedor.logradouro }}</span></p>
      </div>
      <div class="row">
        <p class="col-2">Número: <span>{{ context.fornecedor.numero }}</span></p>
        <p class="col-4">Bairro: <span>{{ context.fornecedor.bairro }}</span></p>
        <p class="col-6">Ponto de Referência: <span>{{ context.fornecedor.pontoReferencia }}</span></p>
      </div>
      <p>CNPJ: <span>{{ context.fornecedor.cnpj }}</span></p>
      <div class="row">
        <p class="col-2">Celular: <span>{{ context.fornecedor.celular }}</span></p>
        <p class="col-2">Telefone: <span>{{ context.fornecedor.telefone }}</span></p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Voltar</button>
    </nb-card-footer>
  </nb-card>


  <nb-card *ngIf="context.type === 'close'">
    <nb-card-header>Tem certeza?</nb-card-header>
    <nb-card-body>
      <button nbButton (click)="ref.close()">Não</button>
      <button nbButton style="margin-left: 1rem;" status="primary" (click)="ref.close()">Sim</button>
    </nb-card-body>
  </nb-card>
</ng-template>
