<ngx-tabber [tabs]="tabs"></ngx-tabber>

<nb-card>
  <nb-card-body>
    <table>
      <colgroup>
        <col class="resizable" />
        <col class="produtos-col" />
        <col class="resizable" />
        <col class="resizable" />
        <col class="resizable" />
      </colgroup>
      <thead>
        <tr>
          <th colspan="4">Pedido (RFQ)</th>
          <th colspan="4" class="bordered">Fornecedores</th>
          <th></th>
        </tr>
        <tr>
          <th>Código</th>
          <th>Produtos</th>
          <th>Un.</th>
          <th>Qtd.</th>
          <th
            *ngFor="let fornecedor of fornecedores; let i = index"
            [class]="{
              fornecedor: true,
              bordered: true,
              'menor-fornecedor': i === menorSomaIdx
            }"
          >
            <nb-icon class="info" icon="info-outline"></nb-icon>
            {{ fornecedor }}
          </th>
          <th>Últimas compras</th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th
            *ngFor="let somaFornecedor of somaFornecedores; let i = index"
            [class]="{ bordered: true, 'menor-fornecedor': i === menorSomaIdx }"
          >
            {{ somaFornecedor ? "Σ " + somaFornecedor.toFixed(2) : "--" }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let row of data; let i = index"
        >
          <td>{{ row.produto.codigo }}</td>
          <td 
            (click)="openRowDetails(dialog, row)"
            class="clickable"
          >
            {{ row.produto.nome }}
          </td>
          <td>{{ row.produto.unidade }}</td>
          <td>{{ row.produto.quantidade }}</td>
          <td
            *ngFor="let preco of row.precos; let j = index"
            [class]="{
              menor: j === row.menorPrecoIdx,
              preco: true,
              'menor-fornecedor': j === menorSomaIdx,
              selecionado: j === row.selecionado,
              clickable: !!preco
            }"
            (click)="preco && selectProductSupplier(i, j)"
          >
            {{ preco ? preco.toFixed(2) : "--" }}
          </td>
          <td [class]="[
            'last-prices', 
            getPriceStatus(row.precos[row.menorPrecoIdx], row.precoUltimasCompras)
          ]">
            {{ row.precoUltimasCompras }}
          </td>
        </tr>
      </tbody>
    </table>
    <fieldset>
      <legend class="purple">Menor preço total</legend>
      <legend class="green">Menor preço do produto</legend>
    </fieldset>
    <nb-radio-group
      [value]="easyButtonsValue" 
      (valueChange)="onEasyButtonsChange($event)"
    >
      <nb-radio value="unitario">Menor preço unitário</nb-radio>
      <nb-radio value="global">Menor global</nb-radio>
    </nb-radio-group>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="primary">Próximo</button>
    <button nbButton style="margin-left: 1rem">
      <nb-icon icon="plus" (click)="openAddFornecedores(dialog)"></nb-icon>
      Adicionar fornecedor
    </button>
  </nb-card-footer>
</nb-card>

<ng-template #dialog let-context let-ref="dialogRef">
  <ngx-modal-add-fornecedores
    *ngIf="context.type === 'add-fornecedores'"
  ></ngx-modal-add-fornecedores>
  
  
  <nb-card *ngIf="context.type === 'row-details'">
    <nb-card-header>Detalhes do Produto</nb-card-header>
    <nb-card-body class="dialog-body">
      <div class="top">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.et_nvFdq98rwd5sXDtPUIQHaHa%26pid%3DApi&f=1" 
        />
        <div class="info">
          <p>Código</p>
          <span>{{ context.produto.codigo }}</span>
          <p>
            Nome
          </p>
          <span>{{ context.produto.nome }}</span>
          <p>
            Unidade
          </p>
          <span>{{ context.produto.unidade }}</span>
          <p>
            Quantidade
          </p>
          <span>{{ context.produto.quantidade }}</span>
        </div>
      </div>
      <div class="bottom">
        <p>Preços</p>
        <ul>
          <li 
            *ngFor="let preco of context.produto.precos; let idx = index;" 
            [class]="{ menor: idx === context.produto.menorPrecoIdx }"
          >
            <span>{{ preco.fornecedor }}</span> 
            <span>{{ preco.valor ? 'R$' + preco.valor.toFixed(2) : '--' }}</span>
          </li>
        </ul>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Voltar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
