<ngx-tabber [tabs]="tabs"></ngx-tabber>

<nb-card>
  <div class="card-body-wrapper">
    <nb-card-body class="oc-card-body">
      <div class="head">
        <p class="mapa">Nº do Mapa: <span>123456/2021</span></p>
        <p>Nº de Controle: <span>123456/2021</span></p>
      </div>
      <h5>Produtos</h5>
      <table>
        <colgroup>
          <col />
          <col class="full" />
          <col />
          <col />
          <col />
          <col />
        </colgroup>
        <thead>
          <tr>
            <th>Código</th>
            <th>Produto</th>
            <th>Qtd.</th>
            <th>Und.</th>
            <th>Pr. Unit</th>
            <th>Sub Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalhe of compra.detalhesCompras">
            <td>{{ getProduto(detalhe.produto.id).cnp }}</td>
            <td class="full">{{ getProduto(detalhe.produto.id).descricao }}</td>
            <td>{{ detalhe.quantidade }}</td>
            <td>{{ getProduto(detalhe.produto.id).unidadeMedidaProduto.descricao }}</td>
            <td>{{ detalhe.valor }}</td>
            <td>{{ getSubTotal(detalhe.valor, detalhe.quantidade) }}</td>
          </tr>
        </tbody>
      </table>
      <p class="preco-total">
        Total da OC: <span>R${{ precoTotal.toFixed(2) }}</span>
      </p>

      <h5>Fornecedor</h5>
      <div class="fornecedor">
        <p class="nome">{{ fornecedor.nomeFantasia }}</p>
        <p><span>Vendedor:</span> --</p>
        <p><span>Tel.:</span> {{ fornecedor.telefone || fornecedor.celular }}</p>
        <p><span>E-mail:</span> {{ fornecedor.email }}</p>
      </div>
    </nb-card-body>
  </div>

  <nb-card-footer class="oc-card-footer">
    <a class="link-btn" routerLink="/pedidos/mapa">
      <button nbButton>
        <nb-icon icon="arrow-back"></nb-icon>
        Voltar ao mapa
      </button>
    </a>
    <button nbButton status="primary">Confirmar</button>
  </nb-card-footer>
</nb-card>
