<div class="produto-lojista">
  <div class="img-wrapper">
    <img [src]="produtoLojista.produto.foto" alt="Imagem do produto" />
  </div>
  <div class="info">
    <p class="nome">{{ produtoLojista.produto.descricao }}</p>
    <p>{{ produtoLojista.produto.categoria.descricao }} - {{ produtoLojista.produto.categoria.departamento.descricao }}</p>
  </div>
  <p *ngIf="produtoLojista.valor" class="preco">{{ formattedPrice }} <span>por {{ produtoLojista.produto.unidadeMedidaProduto.descricao || 'unidade' }}</span></p>
  <button *ngIf="options.length > 0" [nbContextMenu]="options" style="align-self: center" nbButton ghost><nb-icon icon="more-vertical"></nb-icon></button>
</div>
