<div class="produto-lojista">
  <div class="img-wrapper">
    <img [src]="produto.foto" alt="Imagem do produto" />
  </div>
  <div class="info">
    <p class="nome">{{ produto.nome }}</p>
    <div *ngIf="produto.categories && produto.categories.length > 0" class="categories">
      <div *ngFor="let category of produto.categories">{{ category }}</div>
    </div>
  </div>
  <p *ngIf="produto.preco" class="preco">{{ formattedPrice }} <span>por {{ produto.unidade || 'unidade' }}</span></p>
  <button *ngIf="options.length > 0" [nbContextMenu]="options" style="align-self: center" nbButton ghost><nb-icon icon="more-vertical"></nb-icon></button>
</div>
