$borderColor: #edf1f7;

.form-group label {
  display: block;
}

table {
  width: 100%;
  margin-top: 1rem;
}

thead {
  background-color: $borderColor;
  text-align: center;
}

th {
  font-weight: 600;
}

th, td {
  padding: .8rem .6rem;
  text-align: center;
}

td.nome {
  text-align: left;
}

tbody tr:not(:last-child) {
  border-bottom: 1px solid $borderColor;
}

.form-row {
  box-sizing: content-box;
}

.footer {
  display: flex;
  justify-content: space-between;
}

h5 {
  margin-top: 2rem;
}

.invalid {
  background: purple;
}

col {
  width: fit-content;
}

col.full {
  width: 100%;
}

td.quantidade input {
  min-width: 8rem;
}

.estoque-card-footer {
  display: flex;
  justify-content: space-between;
}
::ng-deep nb-select button {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}