<ngx-tabber [tabs]="tabs"></ngx-tabber>

<nb-card>
  <nb-card-body class="alerta-compra-card-body">
    <form>
      <div class="row">
        <div class="form-group col-3">
          <label>Local</label>
          <nb-select fullWidth>
              <nb-option *ngFor="let loja of lojas" [value]="loja.id">{{ loja.nome }}</nb-option>
          </nb-select>
        </div>
      </div>
    </form>

    <table>
      <colgroup>
        <col />
        <col class="full" />
        <col />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th>Código</th>
          <th>Produto</th>
          <th>Unidade</th>
          <th>Quantidade</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr [formGroup]="form">
          <td>
            <input 
              nbInput 
              style="width: 150px" 
              formControlName="codigo"
              [imask]="{ mask: codigoMask }"
              (blur)="onCodigoBlur()"
              [class]="{ invalid: isInvalidControl('codigo') }"
            />
          </td>
          <td>
            <input 
              #autoInput 
              nbInput 
              type="text" 
              (input)="onNomeInputChange()"
              (blur)="onNomeInputBlur()"
              placeholder="Fale algo"
              [nbAutocomplete]="auto"
              fullWidth
              formControlName="nome"
              [class]="{ invalid: isInvalidControl('nome') }"
            />
            <nb-autocomplete [activeFirst]="false" #auto (selectedChange)="onNomeSelectionChange($event)">
              <nb-option *ngFor="let option of suggestedOptions$ | async" [value]="option">
                {{ option }}
              </nb-option>
            </nb-autocomplete>
          </td>
          <td class="quantidade">
            <input 
              nbInput fullWidth formControlName="unidade"
              [class]="{ invalid: isInvalidControl('unidade') }"
              [attr.disabled]="true"
            />
          </td>
          <td>
            <input 
              nbInput type="number" fullWidth style="width: 100px" 
              formControlName="quantidade"
              [class]="{ invalid: isInvalidControl('quantidade') }"
            />
          </td>
          <td>
            <button nbButton status="primary" fullWidth (click)="onProdutoAdd()" [disabled]="form.invalid">
              <nb-icon icon="plus"></nb-icon>
            </button>
          </td>
        </tr>
        <tr *ngIf="data.length === 0">
          <td colspan="5" style="text-align: center;">
            <i>Sem itens</i>
          </td>
        </tr>
        <tr *ngFor="let row of data">
          <td>{{ row.codigo }}</td>
          <td class="nome">{{ row.nome }}</td>
          <td>{{ row.unidade }}</td>
          <td>{{ row.quantidade }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer class="estoque-card-footer">
    <div></div>
    <button nbButton type="button" status="primary">
      Confirmar
    </button>
  </nb-card-footer>
</nb-card>