<nb-card>
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Meus produtos" style="padding: 0;" [active]="tabs.meusProdutos">
      <tab-meus-produtos (requestClick)="changeTab($event)"></tab-meus-produtos>
    </nb-tab>
    
    <nb-tab tabTitle="Solicitar" [lazyLoad]="true" [active]="tabs.solicitar">
      <form (submit)="onFormSubmit()" [formGroup]="myForm">
        <div class="form-group">
          <label for="categoria" class="label">Categoria <span>*</span></label>
          <nb-select id="categoria" fullWidth formControlName="categoria">
            <nb-option value="1">Categoria #1</nb-option>
            <nb-option value="2">Categoria #2</nb-option>
          </nb-select>
          <small class="error" *ngIf="isInvalidControl('categoria')">{{
            getErrorMessage("categoria")
          }}</small>
        </div>
        <div class="form-group">
          <label for="unidadeMedida" class="label">Unidade de Medida <span>*</span></label>
          <nb-select id="unidadeMedida" fullWidth formControlName="unidadeMedida">
            <nb-option value="1">unidade-medida #1</nb-option>
            <nb-option value="2">unidade-medida #2</nb-option>
          </nb-select>
          <small class="error" *ngIf="isInvalidControl('unidadeMedida')">{{
            getErrorMessage("unidadeMedida")
          }}</small>
        </div>
        <div class="form-group">
          <label for="descricao" class="label">Descrição <span>*</span></label>
          <textarea
            rows="5"
            required
            formControlName="descricao"
            nbInput
            fullWidth
            id="descricao"
            [status]="isInvalidControl('descricao') && 'danger'"
          ></textarea>
          <small class="error" *ngIf="isInvalidControl('descricao')">{{
            getErrorMessage("descricao")
          }}</small>
        </div>
        <div class="form-group">
          <label for="quantidadeApresentacao" class="label">Quantidade de apresentação <span>*</span></label>
          <input
            type="number"
            required
            formControlName="quantidadeApresentacao"
            nbInput
            fullWidth
            id="quantidadeApresentacao"
            [status]="isInvalidControl('quantidadeApresentacao') && 'danger'"
          />
          <small class="error" *ngIf="isInvalidControl('quantidadeApresentacao')">{{
            getErrorMessage("quantidadeApresentacao")
          }}</small>
        </div>
        <div class="form-group">
          <label for="detalhe" class="label">Detalhe <span>*</span></label>
          <input
            required
            formControlName="detalhe"
            nbInput
            fullWidth
            id="detalhe"
            [status]="isInvalidControl('detalhe') && 'danger'"
          />
          <small class="error" *ngIf="isInvalidControl('detalhe')">{{
            getErrorMessage("detalhe")
          }}</small>
        </div>
        <div class="form-group">
          <label for="manualInstrucao" class="label">Manual de Instrução <span>*</span></label>
          <input
            required
            formControlName="manualInstrucao"
            nbInput
            fullWidth
            id="manualInstrucao"
            [status]="isInvalidControl('manualInstrucao') && 'danger'"
          />
          <small class="error" *ngIf="isInvalidControl('manualInstrucao')">{{
            getErrorMessage("manualInstrucao")
          }}</small>
        </div>
        <div class="form-group">
          <label for="videoDemonstrativo" class="label">Vídeo Demonstrativo <span>*</span></label>
          <input
            required
            formControlName="videoDemonstrativo"
            nbInput
            fullWidth
            id="videoDemonstrativo"
            [status]="isInvalidControl('videoDemonstrativo') && 'danger'"
          />
          <small class="error" *ngIf="isInvalidControl('videoDemonstrativo')">{{
            getErrorMessage("videoDemonstrativo")
          }}</small>
        </div>
        <div class="form-group">
          <label for="cnp" class="label">CNP <span>*</span></label>
          <input
            required
            formControlName="cnp"
            nbInput
            fullWidth
            id="cnp"
            [status]="isInvalidControl('cnp') && 'danger'"
          />
          <small class="error" *ngIf="isInvalidControl('cnp')">{{
            getErrorMessage("cnp")
          }}</small>
        </div>
        <div class="form-group">
          <label for="pesoGrama" class="label">Peso (em gramas) <span>*</span></label>
          <input
            required
            formControlName="pesoGrama"
            nbInput
            fullWidth
            id="pesoGrama"
            [status]="isInvalidControl('pesoGrama') && 'danger'"
          />
          <small class="error" *ngIf="isInvalidControl('pesoGrama')">{{
            getErrorMessage("pesoGrama")
          }}</small>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label for="altura" class="label">Altura (em cm) <span>*</span></label>
            <input
              type="number"
              required
              formControlName="altura"
              nbInput
              id="altura"
              [status]="isInvalidControl('altura') && 'danger'"
            />
            <small class="error" *ngIf="isInvalidControl('altura')">{{
              getErrorMessage("altura")
            }}</small>
          </div>
          <div class="form-group col-sm-4">
            <label for="largura" class="label">Largura (em cm) <span>*</span></label>
            <input
              type="number"
              required
              formControlName="largura"
              nbInput
              id="largura"
              [status]="isInvalidControl('largura') && 'danger'"
            />
            <small class="error" *ngIf="isInvalidControl('largura')">{{
              getErrorMessage("largura")
            }}</small>
          </div>
          <div class="form-group col-sm-4">
            <label for="profundidade" class="label">Profundidade (em cm) <span>*</span></label>
            <input
              type="number"
              required
              formControlName="profundidade"
              nbInput
              id="profundidade"
              [status]="isInvalidControl('profundidade') && 'danger'"
            />
            <small class="error" *ngIf="isInvalidControl('profundidade')">{{
              getErrorMessage("profundidade")
            }}</small>
          </div>
        </div>
        
        <button
          type="submit"
          nbButton
          status="primary"
          [disabled]="myForm.invalid"
        >
          Enviar
        </button>
      </form>
    </nb-tab>
    
</nb-tabset>
</nb-card>