<ngx-tabber [tabs]="tabs"></ngx-tabber>

<nb-card>
  <nb-card-body>
    <form>
      <div class="row">
        <div class="form-group col-3">
          <label>Loja</label>
          <nb-select fullWidth>
          </nb-select>
        </div>
        <div class="form-group col-3">
          <label>Caixa</label>
          <nb-select fullWidth>
          </nb-select>
        </div>
        <div class="form-group col-3">
          <label>Data Início</label>
          <input nbInput [nbDatepicker]="startDatePicker" fullWidth />
          <nb-datepicker #startDatePicker></nb-datepicker>
        </div>
        <div class="form-group col-3">
          <label>Data Fim</label>
          <input nbInput [nbDatepicker]="endDatePicker" fullWidth />
          <nb-datepicker #endDatePicker></nb-datepicker>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <button nbButton status="primary" fullWidth>
            Buscar
          </button>
        </div>
      </div>
    </form>

    <table>
      <colgroup>
        <col />
        <col />
        <col />
        <col class="full" />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th>Data</th>
          <th>NF</th>
          <th>Descrição</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let row of data">
          <tr>
            <td style="cursor: pointer;">
              <nb-icon
                (click)="row.opened = !row.opened" 
                [icon]="row.opened ? 'arrow-ios-downward' : 'arrow-ios-forward'">             
              </nb-icon>
            </td>
            <td>{{ row.data }}</td>
            <td>{{ row.notaFiscal || "..." }}</td>
            <td class="descricao">{{ row.descricao || "..." }}</td>
            <td class="valor income">{{ row.valor.toFixed(2).replace('.', ',') }}</td>
          </tr>
          <tr *ngIf="row.opened">
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: center;">
              <i>Informações aqui</i>
            </td>
            <td></td>
          </tr>
        </ng-container>
        
      </tbody>
    </table>
    <div class="total">
      <div class="saldo">
        <p>Saldo do Período</p>
        <span>R$ 23.951,76</span>
      </div>
      <div class="saldo">
        <p>Saldo Total</p>
        <span>R$ 24.019,24</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>