<div class="row">
  <nb-card class="col-12 home-card">
    <nb-card-body>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div class="info">
          <h1>Minha Loja</h1>
          <p><span>Razão Social:</span> Minha Loja Ltda.</p>
          <p><span>CNPJ:</span> 05.734.638/0001-70</p>
          <p><span>Inscrição Estadual:</span> 12092522-2</p>
          <p><span>Endereço:</span> Av. Jerônimo de Albuquerque</p>
          <p><span>Telefone:</span> (99) 99999-9999</p>
        </div>
        <div class="store-logo">
          <div class="edit-area">
            <nb-icon icon="edit" class="icon"></nb-icon>
            Editar
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
<div class="row">
  <nb-card class="col-5 home-card">
    <nb-card-body>
      <h1>Lojas</h1>
      <ul class="lista-lojas">
        <li *ngFor="let loja of lojas" (click)="loja.collapsed = !loja.collapsed">
          <nb-card class="loja-card">
            <div class="loja-card-wrapper">
              <div>
                <nb-icon icon="shopping-bag-outline"></nb-icon>
                {{ loja.nome }} - CNPJ: {{ loja.cnpj }}
              </div>
              <button nbButton ghost (click)="loja.collapsed = !loja.collapsed">
                <nb-icon [icon]="loja.collapsed ? 'arrow-up' : 'arrow-down'"></nb-icon>
              </button>
            </div>
           <div *ngIf="loja.collapsed" class="info" style="margin-top: 1rem;">
            <p><span>Nome:</span> Minha Loja Ltda.</p>
            <p><span>CNPJ:</span> Minha Loja Ltda.</p>
            <p><span>Inscrição Estadual:</span> Minha Loja Ltda.</p>
            <p><span>Código:</span> Minha Loja Ltda.</p>
            <p><span>Endereço:</span> Minha Loja Ltda.</p>
            <p><span>Telefone:</span> Minha Loja Ltda.</p>
            <p><span>Gerente:</span> Minha Loja Ltda.</p>
           </div>
          </nb-card>
        </li>
      </ul>
    </nb-card-body>
  </nb-card>
  <div class="col-1"></div>
  <nb-card class="col-6 home-card">
    <nb-card-body>
      <h1>Vendas</h1>
    </nb-card-body>
  </nb-card>
</div>