<div class="row">
  <nb-card class="col-12 home-card">
    <nb-card-body>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div class="info">
          <div class="info-header">
            <h1>{{ loja?.nome || "..." }}</h1>
            <button 
              nbButton size="tiny" style="margin-left: 10px;" 
              (click)="openEditInfoModal(dialog)"
              [disabled]="!loja"
            >
              <nb-icon icon="edit"></nb-icon>
              Editar
            </button>
          </div>
          <p><span>Razão Social:</span> {{ loja?.razaoSocial || "..." }}</p>
          <p><span>CNPJ:</span> {{ loja?.cnpj || "..." }}</p>
          <p><span>Inscrição Estadual:</span> {{ loja?.inscricaoEstadual || "..." }}</p>
          <p><span>Endereço:</span> {{ loja?.endereco || "..." }}</p>
          <p><span>Telefone:</span> {{ loja?.telefone || "..." }}</p>
        </div>
        <div class="store-logo">
          <div class="edit-area">
            <nb-icon icon="edit" class="icon"></nb-icon>
            Editar
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
<div class="row">
  <nb-card class="col-5 home-card">
    <nb-card-body *ngIf="isMatriz">
      <div class="lojas-header">
        <h1>Filiais</h1>
        <button nbButton status="primary" size="small" (click)="openAddLojaModal(dialog)">
          <nb-icon icon="plus"></nb-icon>
        </button>
      </div>
      <ul class="lista-lojas">
        <li *ngFor="let filial of filiais">
          <nb-card class="loja-card">
            <div class="loja-card-wrapper" (click)="filial.collapsed = !filial.collapsed">
              <nb-icon class="filial-icon" icon="shopping-bag-outline"></nb-icon>
              <div class="description">
                <div class="filial-nome">{{ filial.nome }}</div> 
                <div>{{ filial.cnpj }}</div>
              </div>
              <button class="filial-button" nbButton ghost fullWidth>
                <nb-icon [icon]="filial.collapsed ? 'arrow-up' : 'arrow-down'"></nb-icon>
              </button>
            </div>
           <div *ngIf="filial.collapsed" class="info" style="margin-top: 5px;">
            <p><span>Nome:</span> {{ filial.nome }}</p>
            <p><span>CNPJ:</span> {{ filial.cnpj }}</p>
            <p><span>Inscrição Estadual:</span> {{ filial.inscricaoEstadual }}</p>
            <p><span>Código:</span> {{ filial.id }}</p>
            <p><span>Endereço:</span> {{ filial.logradouro }}</p>
            <p><span>Telefone:</span> {{ filial.telefone }}</p>
            <p><span>Gerente:</span> ...</p>
           </div>
          </nb-card>
        </li>
      </ul>
    </nb-card-body>
  </nb-card>
  <div class="col-1"></div>
  <nb-card class="col-6 home-card">
    <nb-card-body>
      <h1>Vendas</h1>
    </nb-card-body>
  </nb-card>
</div>

<ng-template #dialog let-context let-ref="dialogRef">
  <nb-card *ngIf="context.type === 'add-filial'">
    <nb-card-header>
      Adicionar nova filial
    </nb-card-header>
    <nb-card-body class="add-filial-card-body">
      <form class="add-loja-form" [formGroup]="addFilialForm" id="addLojaForm" (submit)="onAddLojaSubmit(ref)">
        <div class="row">
          <div class="col-6 form-group">
            <label>Nome de Fantasia</label>
            <input nbInput fullWidth type="text" formControlName="nome" />
          </div>
          <div class="col-6 form-group">
            <label>Razão Social</label>
            <input nbInput fullWidth type="text" formControlName="razaoSocial" />
          </div>
        </div>
        <div class="row">
          <div class="col-4 form-group">
            <label>Inscrição Estadual</label>
            <input nbInput fullWidth type="text" formControlName="inscricaoEstadual" [imask]="{ mask: codigoMask }" />
          </div>
          <div class="col-4 form-group">
            <label>CNPJ</label>
            <input nbInput fullWidth type="text" formControlName="cnpj" [imask]="{ mask: '00.000.000/0000-00' }" />
          </div>
          <div class="col-4 form-group">
            <label>CPF</label>
            <input nbInput fullWidth type="text" formControlName="cpf" [imask]="{ mask: '000.000.000-00' }" />
          </div>
        </div>
        <div class="row">
          <div class="col-4 form-group">
            <label>E-mail</label>
            <input nbInput fullWidth type="email" formControlName="email" />
          </div>
          <div class="col-4 form-group">
            <label>Senha</label>
            <input nbInput fullWidth type="password" formControlName="senha" />
          </div>
          <div class="col-4 form-group">
            <label>Repita a senha</label>
            <input nbInput fullWidth type="password" formControlName="senha2" />
          </div>
        </div>
        <div class="row">
          <div class="col-3 form-group">
            <label>CEP</label>
            <input
              nbInput fullWidth type="text" 
              formControlName="cep" 
              [imask]="{ mask: '00000-000' }"
              (change)="fillAddresses()"
              (blur)="fillAddresses()" 
            />
          </div>
          <div class="col-4 form-group">
            <label>Logradouro</label>
            <input nbInput fullWidth type="text" formControlName="logradouro" />
          </div>
          <div class="col-4 form-group">
            <label>Bairro</label>
            <input nbInput fullWidth type="text" formControlName="bairro" />
          </div>
        </div>
        <div class="row">
          <div class="col-2 form-group">
            <label>UF</label>
            <nb-select fullWidth (selectedChange)="onUFChange($event)" formControlName="uf">
              <nb-option *ngFor="let uf of ufs" [value]="uf.id">{{ uf.sigla }}</nb-option>
            </nb-select>
          </div>
          <div class="col-4 form-group">
            <label>Municipio</label>
            <input 
              #autoInput 
              nbInput 
              type="text" 
              (input)="onMunicipioInputChange()"
              [nbAutocomplete]="auto"
              fullWidth
              formControlName="municipio"
              class="municipio"
            />
            <nb-autocomplete [activeFirst]="false" #auto (selectedChange)="onSelectionChange($event)">
              <nb-option *ngFor="let municipio of municipiosSuggestions" [value]="municipio">
                {{ municipio }}
              </nb-option>
            </nb-autocomplete>
          </div>
          <div class="col-4 form-group">
            <label>Complemento</label>
            <input nbInput fullWidth type="text" formControlName="pontoReferencia" />
          </div>
        </div>
        <div class="row">
          <div class="col-3 form-group">
            <label>Celular</label>
            <input nbInput fullWidth type="text" formControlName="celular" [imask]="{ mask: '(00) 00000-0000' }" />
          </div>
          <div class="col-3 form-group">
            <label>Telefone</label>
            <input nbInput fullWidth type="text" formControlName="telefone" [imask]="{ mask: '(00) 0000-0000' }" />
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer class="modal-card-footer">
      <button nbButton (click)="onAddLojaClose(ref)">
        <nb-icon icon="arrow-back"></nb-icon>
        Voltar
      </button>
      <button 
        nbButton status="primary" 
        type="submit" form="addLojaForm" [disabled]="addFilialForm.invalid"
      >
        Adicionar
      </button>
    </nb-card-footer>
  </nb-card>


  <nb-card *ngIf="context.type === 'edit-info'">
    <nb-card-header>
      Editar perfil
    </nb-card-header>
    <nb-card-body>
      <form style="width: 60vw;" [formGroup]="editInfoForm" id="editInfoForm" (submit)="onEditInfoSubmit(ref)">
        <div class="row">
          <div class="form-group col-4">
            <label>Endereço</label>
            <input nbInput fullWidth type="text" formControlName="endereco" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-4">
            <label>Telefone</label>
            <input nbInput fullWidth type="text" formControlName="telefone" [imask]="{ mask: '(00) 00000-0000' }" />
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer class="modal-card-footer">
      <button nbButton (click)="onEditInfoClose(ref)">
        <nb-icon icon="arrow-back"></nb-icon>
        Voltar
      </button>
      <button 
        nbButton status="primary" 
        type="submit" form="editInfoForm" [disabled]="editInfoForm.invalid"
      >
        <nb-icon icon="edit"></nb-icon>
        Editar
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>