<div class="row">
  <nb-card class="col-12 home-card">
    <nb-card-body>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div class="info">
          <h1 style="display: inline;">{{ loja.nome }}</h1>
          <button nbButton size="tiny" style="margin-left: 8px;" (click)="openEditInfoModal(dialog)">
            <nb-icon icon="edit"></nb-icon>
            Editar
          </button>
          <p><span>Razão Social:</span> {{ loja.razaoSocial }}</p>
          <p><span>CNPJ:</span> {{ loja.cnpj }}</p>
          <p><span>Inscrição Estadual:</span> {{ loja.inscricaoEstadual }}</p>
          <p><span>Endereço:</span> {{ loja.endereco }}</p>
          <p><span>Telefone:</span> {{ loja.telefone }}</p>
        </div>
        <div class="store-logo">
          <div class="edit-area">
            <nb-icon icon="edit" class="icon"></nb-icon>
            Editar
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
<div class="row">
  <nb-card class="col-5 home-card">
    <nb-card-body>
      <div class="lojas-header">
        <h1>Lojas</h1>
        <button nbButton status="primary" size="small" (click)="openAddLojaModal(dialog)">
          <nb-icon icon="plus"></nb-icon>
        </button>
      </div>
      <ul class="lista-lojas">
        <li *ngFor="let loja of lojas">
          <nb-card class="loja-card">
            <div class="loja-card-wrapper">
              <div>
                <nb-icon icon="shopping-bag-outline"></nb-icon>
                {{ loja.nome }} - CNPJ: {{ loja.cnpj }}
              </div>
              <button nbButton ghost (click)="loja.collapsed = !loja.collapsed">
                <nb-icon [icon]="loja.collapsed ? 'arrow-up' : 'arrow-down'"></nb-icon>
              </button>
            </div>
           <div *ngIf="loja.collapsed" class="info" style="margin-top: 1rem;">
            <p><span>Nome:</span> {{ loja.nome }}</p>
            <p><span>CNPJ:</span> {{ loja.cnpj }}</p>
            <p><span>Inscrição Estadual:</span> {{ loja.inscricaoEstadual }}</p>
            <p><span>Código:</span> {{ loja.codigo }}</p>
            <p><span>Endereço:</span> {{ loja.endereco }}</p>
            <p><span>Telefone:</span> {{ loja.telefone }}</p>
            <p><span>Gerente:</span> {{ loja.gerente }}</p>
           </div>
          </nb-card>
        </li>
      </ul>
    </nb-card-body>
  </nb-card>
  <div class="col-1"></div>
  <nb-card class="col-6 home-card">
    <nb-card-body>
      <h1>Vendas</h1>
    </nb-card-body>
  </nb-card>
</div>

<ng-template #dialog let-context let-ref="dialogRef">
  <nb-card *ngIf="context.type === 'add-loja'">
    <nb-card-header>
      Adicionar nova filial
    </nb-card-header>
    <nb-card-body>
      <form class="add-loja-form" [formGroup]="addLojaForm" id="addLojaForm" (submit)="onAddLojaSubmit(ref)">
        <div class="row">
          <div class="col-5 form-group">
            <label>Nome</label>
            <input nbInput fullWidth type="text" formControlName="nome" />
          </div>
          <div class="col-5 form-group">
            <label>CNPJ</label>
            <input nbInput fullWidth type="text" formControlName="cnpj" />
          </div>
        </div>
        <div class="row">
          <div class="col-5 form-group">
            <label>Inscrição Estadual</label>
            <input nbInput fullWidth type="text" formControlName="inscricaoEstadual" />
          </div>
          <div class="col-5 form-group">
            <label>Código</label>
            <input nbInput fullWidth type="text" formControlName="codigo" />
          </div>
        </div>
        <div class="row">
          <div class="col-5 form-group">
            <label>Endereço</label>
            <input nbInput fullWidth type="text" formControlName="endereco" />
          </div>
          <div class="col-4 form-group">
            <label>Telefone</label>
            <input nbInput fullWidth type="text" formControlName="telefone" />
          </div>
        </div>
        <div class="row">
          <div class="col-4 form-group">
            <label>Gerente</label>
            <input nbInput fullWidth type="text" formControlName="gerente" />
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer class="modal-card-footer">
      <button nbButton (click)="onAddLojaClose(ref)">
        <nb-icon icon="arrow-back"></nb-icon>
        Voltar
      </button>
      <button 
        nbButton status="primary" 
        type="submit" form="addLojaForm" [disabled]="addLojaForm.invalid"
      >
        Adicionar
      </button>
    </nb-card-footer>
  </nb-card>


  <nb-card *ngIf="context.type === 'edit-info'">
    <nb-card-header>
      Editar perfil
    </nb-card-header>
    <nb-card-body>
      <form style="width: 60vw;" [formGroup]="editInfoForm" id="editInfoForm" (submit)="onEditInfoSubmit(ref)">
        <div class="row">
          <div class="form-group col-4">
            <label>Endereço</label>
            <input nbInput fullWidth type="text" formControlName="endereco" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-4">
            <label>Telefone</label>
            <input nbInput fullWidth type="text" formControlName="telefone" />
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer class="modal-card-footer">
      <button nbButton (click)="onEditInfoClose(ref)">
        <nb-icon icon="arrow-back"></nb-icon>
        Voltar
      </button>
      <button 
        nbButton status="primary" 
        type="submit" form="editInfoForm" [disabled]="editInfoForm.invalid"
      >
        <nb-icon icon="edit"></nb-icon>
        Editar
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>