$borderColor: #edf1f7;

.form-group label {
  display: block;
}

table {
  width: 100%;
  margin-top: 1rem;

  col:not(.full) {
    width: fit-content;
  }

  thead {
    background: $borderColor;
  }

  td, th {
    text-align: center;
  }

  td, th:first-child, th:last-child {
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
  }

  th {
    font-weight: 600;
    padding: 1rem;
  }

  td {
    padding: .6rem;
  }

  tr {
    border-bottom: 1px solid $borderColor;
    position: relative;
  }

  tr:nth-of-type(2n) {
    background: lighten($borderColor, 3%);
  }

  td.descricao {
    cursor: pointer;
    text-align: left;

    &:hover {
      opacity: 0.7;
    }
  }

  .product-info {
    text-align: left;

    .title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.8rem;
    }

    p {
      margin-bottom: 5px;
    }

    ul {
      padding-left: 1rem;
      margin-bottom: 0;
    }
  }
}

.link-btn {
  text-decoration: none;
}