<ngx-tabber [tabs]="tabs"></ngx-tabber>
<nb-card>
  <nb-card-body>
    <form>
      <div class="row">
        <div class="col-3 form-group">
          <label>Tipo de Frete</label>
          <nb-select fullWidth>
            <nb-option value="1">Entregar p/ o cliente</nb-option>
            <nb-option value="2">Cliente retira da loja</nb-option>
          </nb-select>
        </div>
        <div class="col-3 form-group">
          <label>Loja de saída do material</label>
          <nb-select fullWidth>
            <nb-option value="1">Loja 01</nb-option>
            <nb-option value="2">Loja 02</nb-option>
            <nb-option value="3">CD Araçagi</nb-option>
          </nb-select>
        </div>
        <div class="col-3 form-group">
          <label>Data Início</label>
          <input nbInput fullWidth [nbDatepicker]="startDatePicker" />
          <nb-datepicker #startDatePicker></nb-datepicker>
        </div>
        <div class="col-3 form-group">
          <label>Data Fim</label>
          <input nbInput fullWidth [nbDatepicker]="endDatePicker" />
          <nb-datepicker #endDatePicker></nb-datepicker>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <button nbButton status="primary">Buscar</button>
        </div>
        <div class="col-4"></div>
        <div class="col-3 form-group">
          <label>Busca pelo nº de pedido</label>
          <input nbInput fullWidth />
        </div>
        <div class="col-3 form-group">
          <label>Busca pelo CPF/CNPJ</label>
          <input nbInput fullWidth />
        </div>
      </div>
    </form>
    <table>
      <colgroup>
        <col />
        <col />
        <col />
        <col class="full" />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th>Data</th>
          <th>Pedido</th>
          <th>Descrição</th>
          <th></th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let row of rows">
          <tr>
            <td style="cursor: pointer;">
              <nb-icon
                (click)="row.opened = !row.opened" 
                [icon]="row.opened ? 'arrow-ios-downward' : 'arrow-ios-forward'">             
              </nb-icon>
            </td>
            <td>{{ row.data }}</td>
            <td>{{ row.pedido }}</td>
            <td class="descricao" (click)="row.opened = !row.opened">
              {{ row.descricao }}
            </td>
            <td>
              <button nbButton status="primary" fullWidth size="small">
                <nb-icon icon="corner-up-right"></nb-icon>
              </button>
            </td>
            <td class="valor income">{{ row.valor }}</td>
          </tr>
          <tr *ngIf="row.opened">
            <td></td>
            <td></td>
            <td></td>
            <td class="product-info">
              <p><span class="title">Endereço de entrega:</span> Lorem ipsum dolor sit amet</p>
              <p><span class="title">CNPJ/CPF:</span> 999.999.999-99</p>
              <p class="title produtos">Produtos</p>
              <ul>
                <li>Produto #1</li>
                <li>Produto #2</li>
              </ul>
            </td>
            <td></td>
            <td></td>
          </tr>
        </ng-container>   
      </tbody>
    </table>
  </nb-card-body>
</nb-card>