<ngx-tabber [tabs]="tabs"></ngx-tabber>
<nb-card>
  <nb-card-body>
    <form>
      <div class="row">
        <div class="col-3 form-group">
          <label>Tipo de Frete</label>
          <nb-select fullWidth>
            <nb-option value="1">Entregar p/ o cliente</nb-option>
            <nb-option value="2">Cliente retira da loja</nb-option>
          </nb-select>
        </div>
        <div class="col-3 form-group">
          <label>Loja de saída do material</label>
          <nb-select fullWidth>
            <nb-option value="1">Loja 01</nb-option>
            <nb-option value="2">Loja 02</nb-option>
            <nb-option value="3">CD Araçagi</nb-option>
          </nb-select>
        </div>
        <div class="col-3 form-group">
          <label>Data Início</label>
          <input nbInput fullWidth [nbDatepicker]="startDatePicker" />
          <nb-datepicker #startDatePicker></nb-datepicker>
        </div>
        <div class="col-3 form-group">
          <label>Data Fim</label>
          <input nbInput fullWidth [nbDatepicker]="endDatePicker" />
          <nb-datepicker #endDatePicker></nb-datepicker>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <button nbButton status="primary">Buscar</button>
        </div>
        <div class="col-4"></div>
        <div class="col-3 form-group">
          <label>Busca pelo nº de pedido</label>
          <input nbInput fullWidth />
        </div>
        <div class="col-3 form-group">
          <label>Busca pelo CPF/CNPJ</label>
          <input nbInput fullWidth />
        </div>
      </div>
    </form>
    <table>
      <colgroup>
        <col />
        <col />
        <col />
        <col class="full" />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th>Data</th>
          <th>Pedido</th>
          <th>Descrição</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows">
          <td><nb-icon icon="arrow-ios-forward-outline"></nb-icon></td>
          <td>{{ row.data }}</td>
          <td>{{ row.pedido }}</td>
          <td>{{ row.descricao }}</td>
          <td class="valor income">{{ row.valor }}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>