@import '~sass/mixins';

$borderColor: #edf1f7;

.form-group label {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
}

table {
  width: 100%;
  margin-top: 2rem;
}

thead {
  background-color: $borderColor;
}

th {
  font-weight: 600;
}

th, td {
  padding: .8rem .6rem;
  text-align: center;
}

tbody tr:not(:last-child) {
  border-bottom: 1px solid $borderColor;
}

.form-row {
  box-sizing: content-box;
}

.footer {
  display: flex;
  justify-content: space-between;
}

h5 {
  margin-top: 2rem;
}

.invalid {
  background: purple;
}

col {
  width: fit-content;
}

col.full {
  width: 100%;
}

td.quantidade input {
  min-width: 8rem;
}

td.produto {
  text-align: left;
}

.estoque-card-footer {
  display: flex;
  justify-content: space-between;
}

.additional-form {
  width: 80vw;

  .product-form-group:not(:first-child) {
    margin-top: 8px;
  }

  .group label {
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.additional-info-card-body {
  min-height: 70vh;
  max-height: 70vh;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.product-form {
  min-width: 400px;
  max-width: 400px;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;

  .product-form-title {
    font-size: 1rem;
    margin-bottom: 0;
    display: flex;

    span {
      flex-grow: 1;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
    }
  }

  .product-form-groups {
    flex-grow: 1;
    margin-top: 1rem;
    padding-right: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    @include customScroll;
  }

  .product-form-group-row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr) 6rem auto;
    column-gap: 1rem;
    align-items: end;
  }
}

.additional-info-card-footer {
  display: flex;
  justify-content: space-between;
}

.estoque-card-body {
  min-height: 70vh;
}