<ngx-tabber [tabs]="tabs"></ngx-tabber>

<nb-card>
  <nb-card-body>
    <form>
      <div class="row">
        <div class="form-group col-4">
          <label>Ordem de Compra</label>
          <nb-select fullWidth>
            <nb-option value="2021-654852">2021-654852</nb-option>
            <nb-option value="2021-654853">2021-654853</nb-option>
            <nb-option value="2021-654854">2021-654854</nb-option>
            <nb-option value="2021-654855">2021-654855</nb-option>
          </nb-select>
        </div>
        <div class="col-4"></div>
        <div class="form-group col-4">
          <label>NFe</label>
          <input nbInput fullWidth />
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <button nbButton type="submit" status="primary" fullWidth>
            Buscar
          </button>
        </div>
      </div>
    </form>

    <table>
      <colgroup>
        <col class="resizable" />
        <col />
        <col class="resizable" />
        <col class="resizable" />
        <col class="resizable" />
        <col class="resizable" />
      </colgroup>
      <thead>
        <tr>
          <th>Código</th>
          <th>Produto</th>
          <th>Unidade</th>
          <th>Quantidade</th>
          <th>Pr. Unit.</th>
          <th>Sub-total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td>{{ row.props.codigo }}</td>
          <td class="produto">{{ row.props.nome }}</td>
          <td>{{ row.props.unidade }}</td>
          <td class="quantidade">
            <input nbInput type="number" fullWidth [defaultValue]="row.props.quantidade" />
          </td>
          <td>{{ row.props.precoUnitario }}</td>
          <td>{{ row.subTotal }}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer class="estoque-card-footer">
    <div></div>
    <button nbButton type="button" status="primary">
      Confirmar
    </button>
  </nb-card-footer>
</nb-card>