<ngx-tabber [tabs]="tabs"></ngx-tabber>

<nb-card>
  <nb-card-body>
    <form [formGroup]="form">
      <div class="row">
        <div class="form-group col-4">
          <label>Ordem de Compra</label>
          <nb-select fullWidth>
            <nb-option value="2021-654852">2021-654852</nb-option>
            <nb-option value="2021-654853">2021-654853</nb-option>
            <nb-option value="2021-654854">2021-654854</nb-option>
            <nb-option value="2021-654855">2021-654855</nb-option>
          </nb-select>
        </div>
        <div class="col-4"></div>
        <div class="form-group col-4">
          <label>NFe</label>
          <input nbInput fullWidth formControlName="notaFiscal" />
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <button nbButton type="submit" status="primary" fullWidth>
            Buscar
          </button>
        </div>
        <div class="col-7"></div>
        <div class="col-3">
          <!-- <input nbInput fullWidth type="file" /> -->
          <button 
            nbButton fullWidth status="warning" type="button"
            (click)="openFileDialog(dialog)"
          >
            <nb-icon icon="archive"></nb-icon>
            Enviar XML
          </button>
        </div>
      </div>
    </form>

    <table>
      <colgroup>
        <col class="resizable" />
        <col />
        <col class="resizable" />
        <col class="resizable" />
        <col class="resizable" />
        <col class="resizable" />
      </colgroup>
      <thead>
        <tr>
          <th>Código</th>
          <th>Produto</th>
          <th>Unidade</th>
          <th>Quantidade</th>
          <th>Pr. Unit.</th>
          <th>Sub-total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td>{{ row.props.codigo }}</td>
          <td class="produto">{{ row.props.nome }}</td>
          <td>{{ row.props.unidade }}</td>
          <td class="quantidade">
            <input nbInput type="number" fullWidth [defaultValue]="row.props.quantidade" />
          </td>
          <td>{{ row.props.precoUnitario }}</td>
          <td>{{ row.subTotal }}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer class="estoque-card-footer">
    <div></div>
    <button nbButton type="button" status="primary" (click)="onConfirmBtnClick(dialog)">
      Confirmar
    </button>
  </nb-card-footer>
</nb-card>


<ng-template #dialog let-context let-ref="dialogRef">
  <nb-card *ngIf="context.type === 'confirm-nfe'">
    <nb-card-header>Tem certeza de enviar sem nota fiscal?</nb-card-header>
    <nb-card-body>
      <button 
        nbButton 
        type="button" status="primary" 
        (click)="ref.close()"
      >
        Claro, tenho certeza
      </button>
      <button 
        nbButton type="button" (click)="ref.close()"
        style="margin-left: 1rem;"
      >
        Não, desejo voltar
      </button>
    </nb-card-body>
  </nb-card>

  <nb-card *ngIf="context.type === 'file'">
    <nb-card-header>Enviar arquivo</nb-card-header>
    <input 
      nbInput type="file"
      (change)="onNotaArquivoChange($event)"
      accept="image/*"
    />
  </nb-card>
</ng-template>