<ngx-tabber [tabs]="tabs"></ngx-tabber>

<nb-card>
  <nb-card-body>
    <form [formGroup]="form">
      <div class="row">
        <div class="form-group col-4">
          <label>Ordem de Compra</label>
          <nb-select fullWidth [(selected)]="compraSelecionada">
            <nb-option *ngFor="let compra of compras" [value]="compra.id">{{ compra.id }}</nb-option>
          </nb-select>
        </div>
        <div class="col-4"></div>
        <div class="form-group col-4">
          <label>NFe</label>
          <input nbInput fullWidth formControlName="notaFiscal" />
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <button 
            nbButton type="submit" status="primary" fullWidth
            (click)="onSearchSale()" [disabled]="buscandoCompra"
          >
            Buscar
          </button>
        </div>
        <div class="col-7"></div>
        <div class="col-3">
          <button 
            nbButton fullWidth status="warning" type="button"
            (click)="openFileDialog(dialog)"
          >
            <nb-icon icon="archive"></nb-icon>
            Enviar XML
          </button>
        </div>
      </div>
    </form>

    <table [formGroup]="quantityForm">
      <colgroup>
        <col />
        <col class="full" />
        <col />
        <col />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th>Código</th>
          <th>Produto</th>
          <th>Unidade</th>
          <th>Quantidade</th>
          <th>Pr. Unit.</th>
          <th>Sub-total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td>{{ row.props.codigo }}</td>
          <td class="produto">{{ row.props.nome }}</td>
          <td>{{ row.props.unidade }}</td>
          <td class="quantidade">
            <input nbInput type="number" min="1" [max]="row.props.quantidade" fullWidth [formControlName]="'produto-' + row.props.codigo" />
          </td>
          <td>{{ row.props.precoUnitario|reais }}</td>
          <td>{{ (getControlValue(quantityForm, "produto-" + row.props.codigo) * row.props.precoUnitario)|reais }}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer class="estoque-card-footer">
    <div></div>
    <button 
      nbButton type="button" 
      status="primary" [disabled]="data.length === 0"
      (click)="onConfirmBtnClick(dialog)"
    >
      Confirmar
    </button>
  </nb-card-footer>
</nb-card>


<ng-template #dialog let-context let-ref="dialogRef">
  <nb-card *ngIf="context.type === 'confirm-nfe'">
    <nb-card-header>Tem certeza de enviar sem nota fiscal?</nb-card-header>
    <nb-card-body>
      <button 
        nbButton type="button" (click)="ref.close()"
      >
        Não, desejo voltar
      </button>
      <button 
        nbButton 
        type="button" status="primary" 
        (click)="onAdditionalInfoOpen(context)"
        style="margin-left: 1rem;"
      >
        Claro, tenho certeza
      </button>
    </nb-card-body>
  </nb-card>

  <nb-card *ngIf="context.type === 'file'">
    <nb-card-header>Enviar arquivo</nb-card-header>
    <input 
      nbInput type="file"
      (change)="onNotaArquivoChange($event)"
      accept="image/*"
    />
  </nb-card>

  <nb-card *ngIf="context.type === 'additional-info'" class="additional-form">
    <nb-card-header>Quer definir nº de lote e série?</nb-card-header>
    <nb-card-body [formGroup]="additionalForm" class="additional-info-card-body">
      <div class="product-form" *ngFor="let row of data">
        <h4 class="product-form-title">
          <span>{{ row.props.nome }}</span>
          <button 
            nbButton ghost size="small"
            (click)="onNew('produto-' + row.props.codigo)"
            [disabled]="!canAdd('produto-' + row.props.codigo)"
            style="margin-left: 8px;"
          >
            <nb-icon icon="plus"></nb-icon>
          </button>
        </h4>
        <small>({{ getControlValue(quantityForm, "produto-" + row.props.codigo) }} itens)</small>
        <p style="width: 100%; text-align: center;" *ngIf="getProductFormArray('produto-' + row.props.codigo).controls.length === 0">
          <i>Sem itens</i>
        </p>
        <div class="product-form-groups" *ngIf="getProductFormArray('produto-' + row.props.codigo).controls.length > 0">
          <div 
            [formArrayName]="'produto-' + row.props.codigo" 
            *ngFor="let _ of getProductFormArray('produto-' + row.props.codigo).controls; let i = index;"
            class="product-form-group"
          >
            <div class="product-form-group-row" [formGroupName]="i">
              <div class="group">
                <label>Série</label>
                <input nbInput fullWidth formControlName="serie" [id]="'serie'+i" />
              </div>
              <div class="group">
                <label>Lote</label>
                <input nbInput fullWidth formControlName="lote" [id]="'lote'+i" />
              </div>
              <div class="group">
                <label>Quantidade</label>
                <input 
                  [id]="'quantidade'+i"
                  nbInput fullWidth formControlName="quantidade" 
                  type="number" 
                  min="1" [max]="getMaximaQuantidade('produto-'+row.props.codigo, i)"
                  (keydown)="onQuantityKeyDown($event, row.props.codigo, i)"
                />
              </div>
              <button 
                nbButton ghost status="danger"
                (click)="remove(row.props.codigo, i)"
              >
                <nb-icon icon="trash"></nb-icon>
              </button>
            </div>
            </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="additional-info-card-footer">
      <div></div>
      <button nbButton status="primary">
        Dar entrada
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>