$borderColor: #edf1f7;

.form-group {
  display: flex;
  align-items: center;

  label {
    margin-right: 5px;
    width: fit-content;
    flex-basis: 1;
  }
}

table {
  width: 100%;
  margin-top: 2rem;
}

thead {
  background-color: $borderColor;
}

th {
  font-weight: 600;
}

th, td {
  padding: .8rem .6rem;
  text-align: center;
}

tbody tr:not(:last-child) {
  border-bottom: 1px solid $borderColor;
}

.form-row {
  box-sizing: content-box;
}

.footer {
  display: flex;
  justify-content: space-between;
}

h5 {
  margin-top: 2rem;
}

.invalid {
  background: purple;
}

col {
  width: fit-content;
}

col.full {
  width: 100%;
}

td.quantidade input {
  min-width: 8rem;
}

td.produto {
  text-align: left;
}

.estoque-card-footer {
  display: flex;
  justify-content: space-between;
}