<div class="fornecedores-list">
  <nb-card class="fornecedor" *ngFor="let fornecedor of fornecedores">
    <nb-card-body class="fornecedor-body">
      <p class="nome">{{ fornecedor.nome }}</p>
      <p class="details">{{ fornecedor.celular }} - {{ fornecedor.email }}</p>
    </nb-card-body>
  </nb-card>
  <button (click)="open(dialog)" class="criar-btn">
    <nb-card class="fornecedor action-btn">
      +
    </nb-card>
  </button>
</div>

<ng-template #dialog let-context let-ref="dialogRef">
  <ngx-modal-criar-fornecedor 
    (backBtnClick)="ref.close()"
  ></ngx-modal-criar-fornecedor>
</ng-template>