<ngx-spinner
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="false"
></ngx-spinner>

<div *ngIf="fornecedores.length > 0; else elseBlock" class="fornecedores-list">
  <button (click)="openCreate(dialog)" class="criar-btn">
    <nb-card class="fornecedor action-btn"> + </nb-card>
  </button>
  <nb-card
    class="fornecedor"
    (click)="openDetails(dialog, fornecedor)"
    *ngFor="let fornecedor of fornecedores"
  >
    <nb-card-body class="fornecedor-body">
      <p class="nome">{{ fornecedor.nomeFantasia || "[SEM NOME]" }}</p>
      <p class="details">{{ fornecedor.celular }} - {{ fornecedor.email }}</p>
    </nb-card-body>
  </nb-card>
</div>
<ng-template #elseBlock>
  <div class="no-items">
    <p>Sem fornecedores.</p>
    <button nbButton status="primary" (click)="openCreate(dialog)">
      Crie um novo
    </button>
  </div>
</ng-template>

<ng-template #dialog let-context let-ref="dialogRef">
  <form
    *ngIf="context.type === 'form'"
    class="row"
    [formGroup]="formFornecedor"
  >
    <div class="col-12">
      <nb-card>
        <nb-card-header>{{ formTitle }}</nb-card-header>
        <nb-card-body class="card-body">
          <div class="row">
            <div class="col-5">
              <label>Nome Fantasia</label>
              <input nbInput fullWidth formControlName="nomeFantasia" />
              <small *ngIf="isControlInvalid('nomeFantasia')" class="error">
                {{ getErrorMessage("nomeFantasia") }}
              </small>
            </div>
            <div class="col-5">
              <label>Razão Social</label>
              <input nbInput fullWidth formControlName="razaoSocial" />
              <small *ngIf="isControlInvalid('razaoSocial')" class="error">
                {{ getErrorMessage("razaoSocial") }}
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label>CNPJ</label>
              <input
                nbInput
                fullWidth
                formControlName="cnpj"
                [imask]="{ mask: '00.000.000/0000-00' }"
              />
              <small *ngIf="isControlInvalid('cnpj')" class="error">
                {{ getErrorMessage("cnpj") }}
              </small>
            </div>
            <div class="col-4">
              <label>E-mail</label>
              <input nbInput fullWidth type="email" formControlName="email" />
              <small *ngIf="isControlInvalid('email')" class="error">
                {{ getErrorMessage("email") }}
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <label>Celular</label>
              <input
                nbInput
                fullWidth
                formControlName="celular"
                [imask]="{ mask: '(00) 00000-0000' }"
              />
              <small *ngIf="isControlInvalid('celular')" class="error">
                {{ getErrorMessage("celular") }}
              </small>
            </div>
            <div class="col-3">
              <label>Telefone</label>
              <input
                nbInput
                fullWidth
                formControlName="telefone"
                [imask]="{ mask: '(00) 00000-0000' }"
              />
              <small *ngIf="isControlInvalid('telefone')" class="error">
                {{ getErrorMessage("telefone") }}
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label>UF</label>
              <nb-select 
                fullWidth 
                formControlName="uf"
                (selectedChange)="onUFChange($event)"
              >
                <nb-option *ngFor="let uf of ufs" [value]="uf.id">{{ uf.sigla }}</nb-option>
              </nb-select>
              <small *ngIf="isControlInvalid('uf')" class="error">
                {{ getErrorMessage("uf") }}
              </small>
            </div>
           <div class="col-4">
              <label>Município</label>
              <nb-select fullWidth formControlName="municipioEndereco" [disabled]="municipios.length === 0">
                <nb-option *ngFor="let municipio of municipios" [value]="municipio.id">{{ municipio.nome }}</nb-option>
              </nb-select>
              <small *ngIf="isControlInvalid('municipioEndereco')" class="error">
                {{ getErrorMessage("municipioEndereco") }}
              </small>
            </div>
            <div class="col-4">
              <label>Categorias</label>
              <nb-select multiple fullWidth formControlName="categorias" [disabled]="departments.length === 0">
                <nb-option-group 
                  *ngFor="let dep of departments"
                  [title]="dep.name"
                  [class]="{
                    'department-option-group': true,
                    selected: isDepartmentSelected(dep.id)
                  }"
                  (click)="handleDepClick($event, dep)" 
                >
                  <nb-option *ngFor="let cat of dep.categories" [value]="cat.id">{{ cat.name }}</nb-option>
                </nb-option-group>
              </nb-select>
              <small *ngIf="isControlInvalid('municipioEndereco')" class="error">
                {{ getErrorMessage("municipioEndereco") }}
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label>CEP</label>
              <input
                nbInput
                fullWidth
                formControlName="cep"
                [imask]="{ mask: '00000-000' }"
                (blur)="fillAddresses()"
                (keyup)="fillAddresses()"
              />
              <small *ngIf="isControlInvalid('cep')" class="error">
                {{ getErrorMessage("cep") }}
              </small>
            </div>
            <div class="col-4">
              <label>Logradouro</label>
              <input nbInput fullWidth formControlName="logradouro" [attr.disabled]="true" />
              <small *ngIf="isControlInvalid('logradouro')" class="error">
                {{ getErrorMessage("logradouro") }}
              </small>
            </div>
            <div class="col-2">
              <label>Número</label>
              <input nbInput fullWidth formControlName="numero" />
              <small *ngIf="isControlInvalid('numero')" class="error">
                {{ getErrorMessage("numero") }}
              </small>
            </div>
            <div class="col-4">
              <label>Bairro</label>
              <input nbInput fullWidth formControlName="bairro" [attr.disabled]="true" />
              <small *ngIf="isControlInvalid('bairro')" class="error">
                {{ getErrorMessage("bairro") }}
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>Ponto de Referência</label>
              <input nbInput fullWidth formControlName="pontoReferencia" />
              <small *ngIf="isControlInvalid('pontoReferencia')" class="error">
                {{ getErrorMessage("pontoReferencia") }}
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>Inscrição Estadual</label>
              <input nbInput fullWidth (blur)="onInscricaoBlur()" formControlName="inscricaoEstadual" />
              <small *ngIf="isControlInvalid('inscricaoEstadual')" class="error">
                {{ getErrorMessage("inscricaoEstadual") }}
              </small>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer class="dialog-footer">
          <button nbButton (click)="onFormBackBtn(context, ref)">
            <nb-icon icon="arrow-ios-back"></nb-icon>
            Voltar
          </button>

          <button nbButton status="primary" (click)="handleFormSubmit(ref)" [disabled]="formFornecedor.invalid">
            {{ formSubmitText }}
          </button>
        </nb-card-footer>
      </nb-card>
    </div>
  </form>

  <nb-card class="fornecedor-detalhes" *ngIf="context.type === 'detalhes'">
    <nb-card-header class="fornecedor-detalhes-header">
      <span>Detalhes do Fornecedor</span>
      <div>
        <button nbButton (click)="onEdit(context)" size="small">
          <nb-icon icon="edit-outline"></nb-icon>
          Editar
        </button>
        <button
          nbButton
          status="danger"
          size="small"
          (click)="onBlock(context.fornecedor.id, ref)"
          style="margin-left: 10px;"
        >
          <nb-icon icon="trash-outline"></nb-icon>
          Remover
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <p class="col-6">
          Nome Fantasia: <span>{{ context.fornecedor.nomeFantasia || "[SEM NOME]" }}</span>
        </p>
        <p class="col-6">
          Razão Social: <span>{{ context.fornecedor.razaoSocial }}</span>
        </p>
      </div>
      <p>
        CPNJ: <span>{{ context.fornecedor.cnpj }}</span>
      </p>
      <p>
        E-mail: <span>{{ context.fornecedor.email }}</span>
      </p>
      <p>
        CEP: <span>{{ context.fornecedor.cep }}</span>
      </p>
      <p>
        Logradouro: <span>{{ context.fornecedor.logradouro }}</span>
      </p>
      <div class="row">
        <p class="col-6">
          Bairro: <span>{{ context.fornecedor.bairro }}</span>
        </p>
        <p class="col-6">
          Número: <span>{{ context.fornecedor.numero }}</span>
        </p>
      </div>
      <p>
        Ponto de Referência: <span>{{ context.fornecedor.pontoReferencia }}</span>
      </p>
      <div class="row">
        <p class="col-6">Município: <span>{{ context.fornecedor.municipioEndereco.nome }}</span></p>
        <p class="col-6" *ngIf="context.fornecedor.ufRg">
          Estado: <span>{{ context.fornecedor.ufRg.nome | ngxCapitalize }} ({{ context.fornecedor.ufRg.sigla }})</span></p>
      </div>
      <div class="row">
        <p class="col-6">
          Celular: <span>{{ context.fornecedor.celular }}</span>
        </p>
        <p class="col-6">
          Telefone: <span>{{ context.fornecedor.telefone }}</span>
        </p>
      </div>
      <p>
        Inscrição Estadual: <span>{{ context.fornecedor.inscricaoEstadual }}</span>
      </p>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">
        <nb-icon icon="arrow-back"></nb-icon>
        Voltar
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
