@use "sass:color";

.fornecedores-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.fornecedor {
  margin: 0;
  border-radius: 10px;
  height: 125px;
  cursor: pointer;

  .nome {
    font-size: 1.55rem;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .details {
    color: #a7a7a7;
    margin-bottom: 0;
    font-size: 0.9rem;
  }
}
  

.fornecedor {
  transition: box-shadow 0.1s ease-out;

  &:hover {
    background-color: darken(white, 2.5%);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .06);
    transition: box-shadow 0.1s ease-in;
  }
}

.fornecedor-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button.criar-btn {
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

.fornecedor.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.75rem;
  font-weight: bolder;
}

.fornecedor.action-btn {
  background-color: #3366ff;

  &:hover {
    background-color: darken(#3366ff, 15%);
  }
}


.fornecedor-detalhes {
  width: 70vw;
  max-height: 90vh;
  overflow-y: scroll;

  .fornecedor-detalhes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fornecedor-detalhes-body {
    overflow-y: scroll;
  }


  p {
    font-weight: bold;
    font-size: 0.8rem;
    span {
      display: flex;
      font-weight: normal;
      font-size: 1rem;
    }
  }
}

.page-title {
  margin-top: 0;
  font-size: 1.9rem;
}

.no-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;

  p {
    font-size: 2rem;
    font-weight: bold;
  }
}

label {
  display: block;
  font-weight: 600;
}

.card-body {
  width: 80vw;
  max-height: 70vh;
  overflow-y: scroll;
}

.row {
  margin-bottom: 1rem;
}

.error {
  color: red;
}

.dialog-footer {
  display: flex;
  justify-content: space-between;
}

input:disabled {
  opacity: 0.8;
}

.row > p {
  margin-bottom: 0;
}

.department-option-group {
  cursor: pointer;

  &.selected {
    color: #598bff;
  }

  ::ng-deep {
    span.option-group-title:hover {
      color: darken(#8f9bb3, 10%);
    }

    &.selected {
      color:#598bff;
    }
  }
  
}