<p *ngIf="showCounter" class="counter">
  {{ totalItems }} itens - Página {{ currentPage }} de {{ totalPages }} totais
</p>

<div class="pagination">
  <button [class]="{ invisible: !hasPrev }" type="button" 
    (click)="pageChange.emit(currentPage - 1)" 
  ><nb-icon icon="arrow-ios-back"></nb-icon></button>

  <button *ngFor="let page of pageNumbers" type="button"
    [class]="{ current: page === currentPage }"
    (click)="pageChange.emit(page)"
  >
    {{ page }}
  </button>

  <button 
    [class]="{ invisible: !hasNext }" type="button"
    (click)="pageChange.emit(currentPage + 1)" 
    ><nb-icon icon="arrow-ios-forward"></nb-icon></button>
</div>