.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

button {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #222b45;
  outline: none;
  border: none;

  &:hover {
    background: rgba(0, 0, 0, .04);
  }
}

button.current {
  background-color: #3366ff;
  color: white;
}

button.invisible {
  visibility: hidden;
}

p.counter {
  text-align: center;
  font-weight: 600;
  font-size: 0.7rem;
  margin-bottom: 0;
}