<div class="buttons-container">
  <button nbButton status="primary">
    <nb-icon icon="plus-outline"></nb-icon>Adicionar Colaborador
  </button>

  <button nbButton outline status="warning">
    <nb-icon icon="minus-outline"></nb-icon>Remover Colaborador
  </button>
</div>

<div class="cards-container">
  <nb-reveal-card *ngFor="let colaborador of colaboradores">
    <nb-card-front class="card">
      <nb-card>
        <nb-card-header class="card__header">{{ colaborador.nome }}</nb-card-header>
        <nb-card-body class="card__body">
          <img
            [src]="colaborador.foto"
            alt="imagem colaborador 1"
          />

          <div class="collaborator">
            <span class="collaborator__description">
              {{ colaborador.summary }}
            </span>
          </div>
        </nb-card-body>
      </nb-card>
    </nb-card-front>
    <nb-card-back class="card card-back">
      <nb-card status="danger">
        <nb-card-header class="card__header"
          >{{ colaborador.nome }} | Mais detalhes</nb-card-header
        >
        <nb-card-body class="card__body">
          {{ colaborador.description }}
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-reveal-card>
</div>
