<div class="buttons-container">
  <button nbButton status="primary" (click)="open(dialog)">
    <nb-icon icon="plus-outline"></nb-icon>Adicionar Colaborador
  </button>
</div>

<div class="cards-container">
  <nb-reveal-card *ngFor="let colaborador of colaboradores">
    <nb-card-front class="card">
      <nb-card>
        <nb-card-header class="card__header">
          {{ colaborador.nome }}
          <div>
            <button nbButton status="control" ghost>
              <nb-icon icon="edit"></nb-icon>
            </button>
            <button nbButton status="control" ghost>
              <nb-icon icon="close"></nb-icon>
            </button>
          </div>
        </nb-card-header>
        <nb-card-body class="card__body">
          <img
            [src]="colaborador.foto"
            alt="imagem colaborador 1"
          />

          <div class="collaborator">
            <span class="collaborator__description">
              {{ colaborador.resumo }}
            </span>
          </div>
        </nb-card-body>
      </nb-card>
    </nb-card-front>
    <nb-card-back class="card card-back">
      <nb-card status="danger">
        <nb-card-header class="card__header"
          >{{ colaborador.nome }} | Mais detalhes</nb-card-header
        >
        <nb-card-body class="card__body">
          {{ colaborador.descricao }}
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-reveal-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Adicionar novo colaborador</nb-card-header>
    <nb-card-body>
      <form id="addColaboradorForm" [formGroup]="addColaboradorForm" (submit)="onSubmit(ref)">
        <div class="form-group">
          <label>Nome Completo</label>
          <input nbInput fullWidth formControlName="nome" />
        </div>
        <div class="form-group">
          <label>Perfil</label>
          <nb-select fullWidth formControlName="perfil">
            <nb-option value="1">Perfil #1</nb-option>
            <nb-option value="2">Perfil #2</nb-option>
            <nb-option value="3">Perfil #3</nb-option>
          </nb-select>
        </div>
        <div class="form-group">
          <label>CPF</label>
          <input 
            nbInput 
            fullWidth 
            formControlName="cpf"
            [imask]="{ mask: '000.000.000-00' }"
          />
        </div>
        <div class="form-group">
          <label>Senha</label>
          <input 
            nbInput 
            fullWidth
            type="password" 
            formControlName="senha"
          />
        </div>
        <div class="form-group">
          <label>Confirmar senha</label>
          <input 
            nbInput 
            fullWidth
            type="password"
            formControlName="confirmarSenha"
          />
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer class="add-colaborador-card-footer">
      <button 
        nbButton status="basic" (click)="ref.close()">
        Voltar
      </button>
      <button 
        nbButton 
        [disabled]="addColaboradorForm.invalid" 
        status="primary" 
        type="submit"
        form="addColaboradorForm"
      >
        Adicionar
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>