.selected {
  background-color: rgba(0, 0, 255, 0.1);
  color: white;
}

.dialog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .criar-link {
    text-decoration: none;
    margin-left: 10px;
  }
}

.product-list {
  max-height: 325px;
  overflow-y: scroll;
}


.product {
  width: 100%;
  padding: 1rem;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  padding-top: 0rem;
  border-bottom: 1px solid #edf1f7;
}

.stepper .header {
  background-color: blue;
}

.no-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}