<nb-card>
  <nb-card-header>
    Adicionar novos produtos 
  </nb-card-header>
  <nb-card-body>
    <div class="filters">
      <nb-select style="min-width: 200px" selected="">
        <nb-option value="">Todos</nb-option>
        <nb-option value="0">Categoria 1</nb-option>
        <nb-option value="1">Categoria 2</nb-option>
      </nb-select>
      <input nbInput placeholder="Pesquise aqui..." />
    </div>
    <div class="dialog product-list">
      <nb-list *ngIf="produtos.length > 0">
        <nb-list-item *ngFor="let produto of produtos">
          <nb-checkbox (checkedChange)="produto.selected = $event"></nb-checkbox>
          <div 
            (click)="produto.selected = !produto.selected"
            [class]="{ selected: produto.selected, product: true }">
            <ngx-produto-lojista   
              [produto]="produto"
            ></ngx-produto-lojista>
          </div>
        </nb-list-item>
      </nb-list>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="dialog-footer">
      <div>
        <button nbButton status="primary">
          <nb-icon icon="plus"></nb-icon>
          Adicionar
        </button>
        <button 
          nbButton ghost
          class="criar-link" 
          (click)="requestBtnClick.emit()">Não encontrou? Solicite um novo produto</button>
      </div>
      <button class="cancel-btn" (click)="cancelBtnClick.emit()" nbButton style="margin-left: 1rem;">
        Cancelar
      </button>
    </div>
  </nb-card-footer>
</nb-card>