<nb-card>
  <nb-card-header>Adicionar produtos</nb-card-header>
  <nb-stepper class="add-stepper" orientation="horizontal">
    <nb-step label="Selecionar produtos">
      <div class="filters">
        <nb-select style="min-width: 200px" (selected)="onSelectedChange($event)">
          <nb-option-group *ngFor="let dep of departments" [title]="dep.name">
            <nb-option *ngFor="let cat of dep.categories" [value]="cat.id">{{ cat.name }}</nb-option>
          </nb-option-group>
        </nb-select>
        <input nbInput placeholder="Pesquise aqui..." />
      </div>
      <div 
        class="dialog product-list" 
        style="width: 80vw; min-height: 50vh"
      >
        <nb-list
          *ngIf="produtos.length > 0; else noItems"
        >
          <nb-list-item [class]="{ selected: produto.selected }" *ngFor="let produto of produtos">
            <ngx-checkbox [defaultValue]="!!produto.selected" (change)="produto.selected = $event"></ngx-checkbox>
            <div (click)="produto.selected = !produto.selected" class="product">
              <ngx-produto-lojista [produto]="produto"></ngx-produto-lojista>
            </div>
          </nb-list-item>
        </nb-list>
        <ng-template #noItems>
          <div class="no-items">
            <span style="font-size: 2rem; font-weight: bold;">Sem itens</span>
            <button nbButton status="primary">
              <nb-icon icon="plus"></nb-icon>
              Não encontrou? Solicite um novo produto
            </button>
          </div>
        </ng-template>
        
      </div>
      <div class="dialog-footer">
        <div>
          <button class="cancel-btn" (click)="ref.close()" nbButton style="margin-left: 1rem;">
            Cancelar
          </button>
          <button nbButton ghost class="criar-link">Não encontrou? Solicite um novo
            produto</button>
        </div>
        
        <div>
          <b style="margin-right: 1rem">{{ selectedProducts.length }} produtos selecionados</b>
          <button 
            nbButton nbStepperNext
            status="primary"
            (click)="nextBtnHandler()"
            [disabled]="selectedProducts.length === 0" 
          >
            <nb-icon icon="arrow-ios-forward"></nb-icon>
            Próximo
          </button>
        </div>
      </div>
    </nb-step>




    <nb-step label="Definir Preços">
      <form style="width: 80vw" [formGroup]="priceForms">
        <div class="price-form-list">
          <div class="price-form-group" *ngFor="let product of productsToDefinePrices">
              <label>{{ product.nome }}</label>
              <div>
                <span style="margin-right: 8px;"><b>R$</b></span>
                <input nbInput type="number" step="0.01" [formControlName]="product.id" />
              </div>
          </div>
        </div>
        <div class="dialog-footer">
          <button 
            nbStepperPrevious
            class="cancel-btn" nbButton>
            Voltar
          </button>
          
          <button nbButton status="primary" (click)="onSubmitHandler()" nbStepperNext>
            <nb-icon icon="arrow-ios-forward"></nb-icon>
            Finalizar
          </button>
        </div>
      </form>
    </nb-step>
  </nb-stepper>
</nb-card>



<!-- <ngx-modal-adicionar-passo1
  *ngIf="step == 1; else elseBlock"
  (cancelBtnClick)="changeScreen()"
  (requestBtnClick)="changeScreen()"
  (nextBtnClick)="changeScreen()"
  [produtos]="produtos" [selectedProducts]="selectedProducts"
></ngx-modal-adicionar-passo1>
<ng-template #elseBlock>
  <ngx-modal-adicionar-passo2 [selectedProducts]="selectedProducts"></ngx-modal-adicionar-passo2>
</ng-template> -->

