<nb-card>
  <nb-card-header>Adicionar produtos</nb-card-header>
  <nb-stepper class="add-stepper" orientation="horizontal">
    <nb-step label="Selecionar produtos">
      <div class="filters">
        <nb-select style="min-width: 200px"
          selected="mais-vendidos"
          (selectedChange)="selectedCategoryChange($event)"
        >
          <nb-option value="mais-vendidos">Mais vendidos</nb-option>
          <nb-option-group *ngFor="let dep of departments" [title]="dep.name">
            <nb-option *ngFor="let cat of dep.categories" [value]="cat.id">{{ cat.name }}</nb-option>
          </nb-option-group>
        </nb-select>
        <input nbInput placeholder="Pesquise aqui..." />
      </div>
      
      <div *ngIf="loading; else notLoading" class="loading-container">
        <app-spring-spinner
          [animationDuration]="1000"
          [size]="60"
          [color]="'#ff1d5e'"
        ></app-spring-spinner>
      </div>

      <ng-template #notLoading>
        <div 
          class="dialog product-list" 
          style="width: 80vw; min-height: 50vh"
        >
          <nb-list *ngIf="produtos.length > 0; else noItems">
            <nb-list-item [class]="{ selected: isProductSelected(produto.id) }" *ngFor="let produto of produtos">
              <ngx-checkbox [defaultValue]="!!isProductSelected(produto.id)" (change)="onProductCheck(produto.id, $event)"></ngx-checkbox>
              <div class="product">
                <ngx-produto-lojista [produto]="produto"></ngx-produto-lojista>
              </div>
            </nb-list-item>
          </nb-list>
          <ng-template #noItems>
            <div class="no-items">
              <p style="font-size: 2rem; font-weight: bold;">Sem itens</p>
              <button nbButton status="primary" (click)="requestProductBtnClick.emit()">
                <nb-icon icon="plus"></nb-icon>
                Não encontrou? Solicite um produto
              </button>
            </div>
          </ng-template>
        </div>
      </ng-template>
      
      <div class="dialog-footer">
        <div>
          <button class="cancel-btn" (click)="ref.close()" nbButton style="margin-left: 1rem;">
            Cancelar
          </button>
          <button nbButton ghost class="criar-link" (click)="requestProductBtnClick.emit()">Não encontrou? Solicite um novo
            produto</button>
        </div>
        
        <div>
          <b style="margin-right: 1rem">{{ selectedProducts.length }} produtos selecionados</b>
          <button 
            nbButton nbStepperNext
            status="primary"
            (click)="nextBtnHandler()"
            [disabled]="selectedProducts.length === 0" 
          >
            <nb-icon icon="arrow-ios-forward"></nb-icon>
            Próximo
          </button>
        </div>
      </div>
    </nb-step>




    <nb-step label="Definir Preços">
      <form style="width: 80vw" [formGroup]="priceForms">
        <table>
          <colgroup>
            <col />
            <col style="width: 8rem;" />
            <col style="width: 8rem;" />
          </colgroup>
          <thead>
            <tr>
              <th>Produto</th>
              <th>Preço (%)</th>
              <th>Estoque Mínimo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productsToDefinePrices">
              <td>{{ product.descricao }}</td>
              <td>
                <input 
                  nbInput fullWidth type="number" required 
                  min="0" step="0.01" pattern="^\d*(\.\d{0,2})?$" 
                  [formControlName]="'preco-'+product.id"
                />
              </td>
              <td>
                <input 
                  nbInput fullWidth type="number" min="1"
                  [formControlName]="'estoqueMinimo-'+product.id" 
                />
              </td>
            </tr>
          </tbody>
        </table>
        <div class="dialog-footer">
          <button 
            nbStepperPrevious
            class="cancel-btn" nbButton>
            Voltar
          </button>
          
          <button [disabled]="priceForms.invalid" nbButton status="primary" (click)="handleSubmitClick()" nbStepperNext>
            <nb-icon icon="arrow-ios-forward"></nb-icon>
            Finalizar
          </button>
        </div>
      </form>
    </nb-step>
  </nb-stepper>
</nb-card>



<!-- <ngx-modal-adicionar-passo1
  *ngIf="step == 1; else elseBlock"
  (cancelBtnClick)="changeScreen()"
  (requestBtnClick)="changeScreen()"
  (nextBtnClick)="changeScreen()"
  [produtos]="produtos" [selectedProducts]="selectedProducts"
></ngx-modal-adicionar-passo1>
<ng-template #elseBlock>
  <ngx-modal-adicionar-passo2 [selectedProducts]="selectedProducts"></ngx-modal-adicionar-passo2>
</ng-template> -->

