<div class="produto-lojista">
  <div class="img-wrapper">
    <img [src]="defaultImage" alt="Imagem do produto" />
  </div>
  <div class="info">
    <p class="nome">{{ produto.descricao | uppercase }} <small>#{{ produto.cnp }}</small></p>
    <p>{{ produto.categoria.departamento.descricao  | uppercase }} - {{ produto.categoria.descricao | uppercase }}</p>
    <p class="unidade">{{ produto.unidadeMedidaProduto.descricao | uppercase }}</p>
  </div>
  <p *ngIf="valor" class="preco">R${{ valor|reais }} <span>por {{ produto.unidadeMedidaProduto?.descricao || 'unidade' }}</span></p>
  <button 
    nbButton ghost
    *ngIf="options.length > 0" 
    [nbContextMenu]="options" [nbContextMenuTag]="'product-'+produto.id+'-menu'" 
    class="dropdown-button"
  >
      <nb-icon icon="more-vertical"></nb-icon>
  </button>
</div>

<ng-template #dialog let-context let-ref="dialogRef">
  <modal-produto-detalhes 
    [produto]="produto"
    (close)="onDetalhesClose(ref)"
  ></modal-produto-detalhes>
</ng-template>