<ngx-tabber [tabs]="tabs"></ngx-tabber>
<nb-card>
  <nb-card-body>
    <form>
      <div class="row">
        <div class="col-4 form-group">
          <label>Nome ou Razão Social</label>
          <input nbInput fullWidth />
        </div>
        <div class="col-4 form-group">
          <label>CPF ou CNPJ</label>
          <input nbInput fullWidth />
        </div>
      </div>
      <button nbButton status="primary">
        Buscar
      </button>
    </form>
    <table class="table-clientes" style="margin-top: 1rem;">
      <colgroup>
        <col class="full" />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>CNPJ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.cpf }}</td>
          <td>{{ cliente.cnpj }}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>