<ngx-tabber [tabs]="tabs"></ngx-tabber>

<nb-card>
  <nb-card-body>
    <form [formGroup]="headerForm">
      <div class="row">
        <div class="col-7 store-fields">
          <div class="form-group">
            <label>Origem</label>
            <nb-select fullWidth formControlName="origem">
              <nb-option *ngFor="let loja of lojas" [value]="loja.id" [disabled]="isOrigemDisabled(loja.id)">
                {{ loja.nome }}
              </nb-option>
            </nb-select>
          </div>
          <button [@rotate]="rotationState" nbButton ghost type="button" (click)="flipStores()" [disabled]="isFlipDisabled">
            <nb-icon icon="flip-2"></nb-icon>
          </button>
          <div class="form-group">
            <label>Destino</label>
            <nb-select fullWidth formControlName="destino">
              <nb-option *ngFor="let loja of lojas" [value]="loja.id" [disabled]="isDestinoDisabled(loja.id)">
                {{ loja.nome }}
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="form-group col-4 disabled">
          <label>Motivo</label>
          <nb-select fullWidth [disabled]="true">
            <nb-option value="1">Motivo 1</nb-option>
            <nb-option value="2">Motivo 2</nb-option>
            <nb-option value="3">Motivo 3</nb-option>
            <nb-option value="4">Motivo 4</nb-option>
          </nb-select>
        </div>
      </div>
    </form>

    <table>
      <colgroup>
        <col />
        <col class="full" />
        <col />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th>Código</th>
          <th>Produto</th>
          <th>Unidade</th>
          <th>Quantidade</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr [formGroup]="form">
          <td>
            <input 
              nbInput 
              style="width: 150px" 
              formControlName="codigo"
              [imask]="{ mask: codigoMask }"
              (blur)="onCodigoBlur()"
              [class]="{ invalid: isInvalidControl('codigo') }"
            />
          </td>
          <td>
            <input 
              #autoInput 
              nbInput 
              type="text" 
              (input)="onNomeInputChange()"
              (blur)="onNomeInputBlur()"
              placeholder="Fale algo"
              [nbAutocomplete]="auto"
              fullWidth
              formControlName="nome"
              [class]="{ invalid: isInvalidControl('nome') }"
            />
            <nb-autocomplete [activeFirst]="false" #auto (selectedChange)="onNomeSelectionChange($event)">
              <nb-option *ngFor="let option of suggestedOptions$ | async" [value]="option">
                {{ option }}
              </nb-option>
            </nb-autocomplete>
          </td>
          <td class="quantidade">
            <input 
              nbInput fullWidth formControlName="unidade"
              [class]="{ invalid: isInvalidControl('unidade') }"
              [attr.disabled]="true"
            />
          </td>
          <td>
            <input 
              nbInput type="number" fullWidth style="width: 100px" 
              formControlName="quantidade"
              [class]="{ invalid: isInvalidControl('quantidade') }"
            />
          </td>
          <td>
            <button nbButton status="primary" fullWidth (click)="onProdutoAdd()" [disabled]="form.invalid">
              <nb-icon icon="plus"></nb-icon>
            </button>
          </td>
        </tr>
        <tr *ngIf="data.length === 0">
          <td colspan="5" style="text-align: center;">
            <i>Sem itens</i>
          </td>
        </tr>
        <tr *ngFor="let row of data">
          <td>{{ row.codigo }}</td>
          <td class="nome">{{ row.nome }}</td>
          <td>{{ row.unidade }}</td>
          <td>{{ row.quantidade }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="row" [formGroup]="saidaForm">
      <div class="form-group col-3" style="margin-top: 2rem;">
        <label>Nota fiscal</label>
        <input
          nbInput fullWidth [imask]="{ mask: '000.000' }"

        />
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <button nbButton status="warning">
          <nb-icon icon="archive"></nb-icon>
          Carregar XML
        </button>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="estoque-card-footer">
    <div></div>
    <button nbButton type="button" status="primary" (click)="onConfirmBtnClick(dialog)">
      Confirmar
    </button>
  </nb-card-footer>
</nb-card>


<ng-template #dialog let-context let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Tem certeza de enviar sem nota fiscal?</nb-card-header>
    <nb-card-body>
      <button 
        nbButton type="button" (click)="ref.close()"
      >
        Não, desejo voltar
      </button>
      <button 
        nbButton 
        type="button" status="primary" 
        (click)="ref.close()" 
        style="margin-left: 1rem;"
      >
        Claro, tenho certeza
      </button>
    </nb-card-body>
  </nb-card>
</ng-template>