@use "sass:color";

small.error {
  color: red;
}

form label.label {
  font-size: 0.85rem;
  color: darken(#8f9bb3, 30%);
}

.form-group {
  margin: 1.5rem 0;

  &:first-child {
    margin-top: 1rem;
  }
}