.card {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card.expanded .card-body {
  display: block;
}

.card-body {
  min-height: 58vh;
}

.card-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

time {
  color: #8f8f8f;
  font-size: 0.9rem;
}

.pedido-list-item {


  .codigo {
    margin-left: 1rem;
    font-weight: bold;
  }
}


table {
  width: 100%;
}

thead {
  background-color: #edf1f7;
  color: #8F9BB3;
  border-radius: 10px;
  padding: 0 1rem;
}

th {
  padding: 0.8rem 0;
}

td {
  padding: 10px 0;
  padding-right: 10px;
}

.form-row {
  box-sizing: content-box;
}

.footer {
  display: flex;
  justify-content: space-between;
}

h5 {
  margin-top: 2rem;
}