.card {
  padding: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card.expanded .card-body {
  display: block;
}

.card-body {
  display: none;
  padding: 0 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

time {
  color: #8f8f8f;
  font-size: 0.9rem;
}

.pedido-list-item {


  .codigo {
    margin-left: 1rem;
    font-weight: bold;
  }
}