<ngx-tabber [tabs]="tabs"></ngx-tabber>

<nb-card class="card">
  <nb-card-body class="card-body">
    <h5>Produtos</h5>
    <table>
      <colgroup>
        <col />
        <col class="full" />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th>Código</th>
          <th>Produto</th>
          <th>Unidade</th>
          <th>Quantidade</th>
          <th></th>
        </tr>
        
      </thead>
      <tbody>
        <tr [formGroup]="novoPedidoForm">
          <td>
            <input 
              nbInput 
              style="width: 150px" 
              formControlName="codigo"
              [imask]="{ mask: codigoMask }"
              (blur)="onCodigoBlur()"
              (keyup)="onCodigoChange()"
              [class]="{ invalid: isInvalidControl('codigo') }"
            />
          </td>
          <td>
            <input 
              #autoInput 
              nbInput 
              type="text" 
              (input)="onInputChange()"
              (blur)="onNomeBlur()"
              placeholder="Fale algo"
              [nbAutocomplete]="auto"
              fullWidth
              formControlName="nome"
              [class]="{ invalid: isInvalidControl('nome') }"
            />
            <nb-autocomplete [activeFirst]="false" #auto (selectedChange)="onSelectionChange($event)">
              <nb-option *ngFor="let option of suggestedOptions$ | async" [value]="option">
                {{ option }}
              </nb-option>
            </nb-autocomplete>
          </td>
          <td class="quantidade">
            <input 
              nbInput fullWidth formControlName="unidade"
              [class]="{ invalid: isInvalidControl('unidade') }"
              [attr.disabled]="true"
            />
          </td>
          <td>
            <input 
              nbInput type="number" fullWidth style="width: 100px" 
              formControlName="quantidade"
              [class]="{ invalid: isInvalidControl('quantidade') }"
            />
          </td>
          <td>
            <button nbButton status="primary" fullWidth (click)="onPedidoAdd()" [disabled]="novoPedidoForm.invalid">
              <nb-icon icon="plus"></nb-icon>
            </button>
          </td>
        </tr>
        <tr *ngIf="rows.length === 0">
          <td></td>
          <td style="text-align: center;"><i>Sem produtos</i></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr *ngFor="let row of rows">
          <td>{{ row.produto.cnp }}</td>
          <td>{{ row.produto.descricao }}</td>
          <td>{{ row.produto.unidadeMedidaProduto?.descricao || 'unidade' }}</td>
          <td>{{ row.quantidade }}</td>
          <td>
            <button 
              nbButton ghost size="small" status="danger"
              (click)="removeProduct(row.produto.cnp)"
            >
              <nb-icon icon="trash"></nb-icon>
            </button> 
          </td>
        </tr>
      </tbody>
    </table>

    <div class="fornecedores-header">
      <h5>Fornecedores</h5>
      <button nbButton size="tiny" status="primary" (click)="openAddFornecedores(dialog)">
        <nb-icon icon="plus"></nb-icon>
      </button>
    </div>
    <p *ngIf="fornecedores.length === 0">Sem itens</p>
    <ul class="fornecedores-selecionados">
      <li *ngFor="let fornecedor of fornecedores">
        <nb-card>
          <nb-card-body class="fornecedor-card-body">
            <div class="nome">{{ fornecedor.nomeFantasia || "[SEM NOME]" }}</div>
            <div class="details">{{ fornecedor.email }}</div>
            <button 
              class="close-btn" 
              nbButton ghost size="small" status="danger"
              (click)="removeFornecedor(fornecedor.id)"
            >
              <nb-icon icon="close"></nb-icon>
            </button>
          </nb-card-body>
        </nb-card>
      </li>
    </ul>
  </nb-card-body>


  <nb-card-footer class="footer">
    <div></div>
    <button 
      nbButton class="next-btn" status="primary"
      (click)="onConfirmBtnClick()"
      [disabled]="isPedidoInvalid"
    >
      Próximo
    </button>
  </nb-card-footer>
  
</nb-card>

<ng-template #dialog let-context let-ref="dialogRef">
  <ngx-modal-add-fornecedores
    *ngIf="context.type === 'addSupplier'"
    (exit)="ref.close()"
    (addition)="onAddSupplier($event, ref)"
    (btnClick)="context.type = 'formSupplier'"
    [initialFornecedores]="fornecedores"
  ></ngx-modal-add-fornecedores>
  <ngx-modal-form-fornecedor
    *ngIf="context.type === 'formSupplier'"
    (backBtnClick)="context.type = 'addSupplier'"
    (submitBtnClick)="onCreateSupplier($event, ref)"
  ></ngx-modal-form-fornecedor>
</ng-template>
